{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Добавление расхода</h5>
            <form method="POST" enctype="multipart/form-data" class="card-body">
                {% csrf_token %}
                
                <!-- Поле загрузки изображения (если необходимо изображение для расходов) -->
                <div class="mb-3">
                    <label for="id_image" class="form-label">
                        Изображение
                    </label>
                    {{ form.image }}
                </div>

                <!-- Поле названия расхода -->
                <div class="mb-3">
                    <label for="id_type" class="form-label">
                        Тип расхода<span class="text-danger">*</span>
                    </label>
                    {{ form.type }}
                </div>

                <!-- Поле суммы -->
                <div class="mb-3">
                    <label for="id_amount" class="form-label">
                        Сумма<span class="text-danger">*</span>
                    </label>
                    {{ form.amount }}
                </div>

                <!-- Поле описания -->
                <div class="mb-3">
                    <label for="id_description" class="form-label">
                        Описание
                    </label>
                    {{ form.description }}
                </div>

                <!-- Поле даты создания -->
                <div class="mb-3">
                    <label for="id_created" class="form-label">
                        Дата создания<span class="text-danger">*</span>
                    </label>
                    {{ form.created }}
                </div>

                <!-- Кнопка отправки -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary product-create-btn waves-effect waves-light">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
