{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}
<div class="modal fade " id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <form class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Фильтр</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ filters.form.as_p }}
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Показать</button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="d-flex align-items-center justify-content-between mt-3 mb-4 flex-wrap">
    <div class="d-flex align-items-center gap-3">
        <h2 class="mb-0 fw-bold text-dark">Финансы</h2>
    </div>
    <div class="d-flex align-items-center gap-3">
        <button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#filterModal">
            Фильтр
        </button>
        <button class="btn btn-primary" type="button" id="timelineWapper" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span>Добавить</span>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="timelineWapper">
            <a class="dropdown-item" href="{% url 'finance-create' %}?type=rent">Аренда</a>
            <a class="dropdown-item" href="{% url 'finance-create' %}?type=utilities">Коммунальные услуги</a>
            <a class="dropdown-item" href="{% url 'finance-create' %}?type=salaries">Зарплаты</a>
            <a class="dropdown-item" href="{% url 'finance-create' %}?type=other">Другое</a>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary rounded-circle p-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class='bx bx-dots-vertical-rounded'></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li>
                <button class="dropdown-item d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#settingsModal">
                    <i class='bx bx-cog'></i>
                    <span>Настройки страницы</span>
                </button>
            </li>
            </ul>
            <div class="modal fade" id="settingsModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="settingsModalLabel">Настройки</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'update-per-pages' %}">    
                                {% csrf_token %}
                                <span>Введите количество товаров на странице</span>
                                <input type="number" class="form-control" name="number_per_page" value="{{ number_per_page }}">
                                <div class="alert alert-warning d-flex align-items-center mt-2" role="alert">
                                    <i class="bx bx-exclamation-triangle me-2"></i>
                                    <span>Эта настройка касается всем пользователям магазина</span>
                                </div>
                                <button type="submit" name="finance" class="btn btn-primary">Сохранить</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>


<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Описание</th>
                        <th>Сумма</th>
                        <th>Дата</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expend in page_obj %}
                    <tr>
                        <td>{{ expend.description|default:"-" }}{% if expend.user %}:{{ expend.user }}{% endif %}</td>
                        <td>{{ expend.amount }}</td>
                        <td>{{ expend.created|date:"d.m.Y H:i" }}</td>
                        <td>
                            <button type="button" class="btn" data-bs-toggle="modal"
                                            data-bs-target="#deleteModal{{ expend.id }}">
                                            <i class="bx bx-trash fs-5"></i>
                                        </button>
                            
                            <div class="modal fade" id="deleteModal{{ expend.id }}" tabindex="-1"
                                aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="fs-5" id="deleteModalLabel">Вы уверены, что хотите удалить?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>{{ expend.description }}</h3>
                                            <span>{{ expend.amount }} сом</span>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'expense-delete' expend.id %}" class="btn btn-danger">Да</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Нет расходов, соответствующих фильтру.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-center me-3 mt-5 flex-wrap">
            <div class="pagination-container">
                <nav aria-label="Пагинация">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Первая">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;&laquo;</span>
                        </li>
                        {% endif %}
          
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Назад">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                        {% endif %}
          
                        {% for page_num in visible_pages %}
                        {% if page_num  ==  page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_num }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
          
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Вперёд">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&raquo;</span>
                        </li>
                        {% endif %}
          
                        {% if page_obj.number < page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&raquo;&raquo;</span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
          </div>
    </div>
</div>




{% endblock %}