{% extends 'base.html' %}

{% block content %}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row mb-2">
                    <div class="col-sm-5">
                        <h2>Зарплаты</h2>
                    </div>
                    <div class="col-sm-7">
                        <form method="get" class="row g-3 mb-3">
                            <!-- Дата с -->
                            <div class="col-md-3">
                                <label for="employee" class="form-label">Дата с</label>
                                <input type="date" name="date_from" class="form-control" placeholder="Дата с" 
                                    value="{{ request.GET.date_from }}">
                            </div>
                            <!-- Дата по -->
                            <div class="col-md-3">
                                <label for="employee" class="form-label">Дата по</label>
                                <input type="date" name="date_to" class="form-control" placeholder="Дата по" 
                                    value="{{ request.GET.date_to }}">
                            </div>
                            <div class="col-md-3">
                                <label for="employee" class="form-label">Сотрудник</label>
                                <select id="employee" name="employee" class="form-select">
                                    <option value="">Все сотрудники</option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}" {% if employee_id == user.id|stringformat:"s" %}selected{% endif %}>
                                            {{ user.username }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary w-100">Применить</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="table-responsive">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="">Сотрудник</th>
                                            <th class="">Сумма</th>
                                            <th class="">Дата</th>
                                            <th class="">Действия</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tbody>
                                            {% for salary in salaries %}
                                            <tr>
                                                <td>{{ salary.user.username }}</td>
                                                <td>{{ salary.amount }}</td>
                                                <td>{{ salary.created }}</td>
                                                <td>
                                                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal{{ expend.id }}">
                                                            <i class='bx bx-trash text-danger fs-5'></i>
                                                        </button>
                                                        <div class="modal fade" id="deleteModal{{ expend.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="fs-5" id="deleteModalLabel">Вы уверены, что хотите удалить?</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        {{ expend.description }}
                                                                        {{ expend.amount }}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="{% url 'expend-delete' salary.id %}" type="submit" name="delete" class="btn btn-danger">Да</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </td>
                                            </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="4" class="text-center">Нет записей</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
{% endblock %}
