{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h3 class="fw-bold text-center text-md-start">Чат</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Ваш вопрос:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="question"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <hr>
        <h3>Ответ</h3>
        <p>{{ response }}</p>
    </div>
</div>
{% endblock %}