{% extends 'base.html' %}
{% load tags %}
{% block content %}
<div class="row justify-content-center mt-3">
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-4">
                    <h3>Изменение пароля</h3>
                </div>

                <form id="formAuthentication" class="mb-3" method="POST">
                    {% csrf_token %}
                    <div class="mb-3 d-flex flex-column">
                        <label for="old_password" class="form-label">Старый пароль</label>
                        {{ form.old_password|add_class:"form-control" }}
                    </div>

                    <div class="mb-3 d-flex flex-column">
                        <label for="new_password1" class="form-label">Новый пароль</label>
                        {{ form.new_password1|add_class:"form-control" }}
                    </div>

                    <div class="mb-3 d-flex flex-column">
                        <label for="new_password2" class="form-label">Повторите новый пароль</label>
                        {{ form.new_password2|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="submit">Изменить</button>
                    </div>
                </form>
            </div>
            {% for i in messages %}
                {{ i.tags }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}