{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-3">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="mb-4 text-center">
                    <p>Изменение пароля</p>
                </div>

                <form id="formAuthentication" class="mb-3" method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="submit">Изменить</button>
                    </div>
                </form>
            </div>
            {% for i in messages %}
                {{ i.tags }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}