<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl">
    <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
      <div class="text-body">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>, Сделано с ❤️ от <a href="https://myacademy.education" target="_blank" class="footer-link">DEER</a>
      </div>
      <div class="d-none d-lg-inline-block">
        <a href="{% url 'index' %}#n-a3cdbb09-4eab-426e-8260-f4ad758afd9f" class="footer-link me-4">Тарифы</a>
        <a href="#" target="_blank" class="footer-link me-4">Поддержка</a>

        <a href="{% url 'index' %}#n-e2cd0640-5074-44b9-93a9-9e17ec7963bb" class="footer-link me-4">Преимущества</a>

      </div>
    </div>
  </div>
</footer>