{% load static %}

<form class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar"  method="get" action="{% url 'product-list' %}">

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none ">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

        <div class="navbar-nav align-items-center">
            <div class="nav-item navbar-search-wrapper mb-0">
                <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
                    <i class="bx bx-search bx-sm me-2 me-lg-4 bx-sm"></i>
                    <span class="d-none d-md-inline-block text-muted fw-normal">Поиск (Ctrl+/)</span>
                </a>
            </div>
        </div>
        <ul class="navbar-nav flex-row align-items-center ms-auto">

            <li class="nav-item dropdown-style-switcher dropdown">
                <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <i class="bx bx-sun bx-sm"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                            <span class="d-flex align-items-center"><i class="bx bx-sun bx-sm me-3"></i>Светлая</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                            <span class="d-flex align-items-center"><i class="bx bx-moon bx-sm me-3"></i>Тёмная</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                            <span class="d-flex align-items-center"><i class="bx bx-desktop bx-sm me-3"></i>Системная</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
                <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <span class="position-relative">
                        <i class="bx bx-bell bx-sm"></i>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end p-0">
                    <li class="dropdown-menu-header border-bottom">
                        <div class="dropdown-header d-flex align-items-center py-3">
                            <h6 class="mb-0 me-auto">Уведомления</h6>
                            <div class="d-flex align-items-center h6 mb-0">
                                <span class="badge bg-label-primary me-2">8 новых</span>
                                <a href="javascript:void(0)" class="btn btn-text-secondary rounded-pill btn-icon dropdown-notifications-all" data-bs-toggle="tooltip" data-bs-placement="top" title="Пометить все как прочитанные"><i class="bx bx-envelope-open text-heading"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-notifications-list scrollable-container">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar">
                                            <img src="../../assets/img/avatars/1.png" alt class="rounded-circle">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="small mb-1">Поздравляем, Летти 🎉</h6>
                                        <small class="mb-1 d-block text-body">Завоевала золотой значок лучшего продавца месяца</small>
                                        <small class="text-muted">1 час назад</small>
                                    </div>
                                    <div class="flex-shrink-0 dropdown-notifications-actions">
                                        <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                        <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar">
                                            <span class="avatar-initial rounded-circle bg-label-danger">CF</span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1 small">Чарльз Франклин</h6>
                                        <small class="mb-1 d-block text-body">Принял ваше приглашение в друзья</small>
                                        <small class="text-muted">12 часов назад</small>
                                    </div>
                                    <div class="flex-shrink-0 dropdown-notifications-actions">
                                        <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                        <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar">
                                            <img src="../../assets/img/avatars/2.png" alt class="rounded-circle">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1 small">Новое сообщение ✉️</h6>
                                        <small class="mb-1 d-block text-body">Вы получили новое сообщение от Натали</small>
                                        <small class="text-muted">1 час назад</small>
                                    </div>
                                    <div class="flex-shrink-0 dropdown-notifications-actions">
                                        <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                        <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="border-top">
                        <div class="d-grid p-4">
                            <a class="btn btn-primary btn-sm d-flex" href="javascript:void(0);">
                                <small class="align-middle">Просмотреть все уведомления</small>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        {% if request.user.image %}
                            <img src="{{ request.user.image.url }}" alt="user-image" class="rounded-circle" style="object-fit: cover;">
                        {% else %}
                            <img src="{% static 'assets/images/avatars/1.png' %}" alt="user-image" class="rounded-circle" style="object-fit: cover;">
                        {% endif %}
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item mt-0" href="{% url 'user-profile' request.user.id %}">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-2">
                                    <div class="avatar avatar-online">
                                        {% if request.user.image %}
                                            <img src="{{ request.user.image.url }}" alt="user-image" class="rounded-circle" style="object-fit: cover;">
                                        {% else %}
                                            <img src="{% static 'assets/images/avatars/1.png' %}" alt="user-image" class="rounded-circle" style="object-fit: cover;">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">{{ request.user.username }}</h6>
                                    <small class="text-muted">{{ request.user.get_role_display }}</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <a href="{% url 'password_change' %}" class="dropdown-item">
                        <i class="bx bx-edit me-1"></i>
                        <span>Изменение пароля</span>
                    </a>
                    <li>
                        <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="bx bx-power-off me-1"></i>
                            <span>Выйти</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div class="navbar-search-wrapper search-input-wrapper d-none">
            <input 
            type="text" 
            name="query" 
            class="form-control search-input container-xxl border-0" 
            placeholder="Поиск..." 
            aria-label="Search..."
            value="{{ request.GET.query|default:'' }}"
        >
            <i class="bx bx-x search-toggler cursor-pointer"></i>
        </div>
</form>
