{% load static %}
{% load tags %}
<form class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar"  method="get" action="{% url 'product-list' %}">

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none ">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

        <div class="navbar-nav align-items-center">
            <div class="nav-item navbar-search-wrapper mb-0">
                <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
                    <i class="bx bx-search bx-sm me-2 me-lg-4 bx-sm"></i>
                    <span class="d-none d-md-inline-block text-muted fw-normal">Поиск (Ctrl+/)</span>
                </a>
            </div>
        </div>
        <ul class="navbar-nav flex-row align-items-center ms-auto">

            <li class="nav-item dropdown-style-switcher dropdown">
                <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <i class="bx bx-sun bx-sm"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                            <span class="d-flex align-items-center"><i class="bx bx-sun bx-sm me-3"></i>Светлая</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                            <span class="d-flex align-items-center"><i class="bx bx-moon bx-sm me-3"></i>Тёмная</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                            <span class="d-flex align-items-center"><i class="bx bx-desktop bx-sm me-3"></i>Системная</span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                {% notifications request.user as notifications_data %}
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="#" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online d-flex align-items-start justify-content-between">

                        
                        <div>
                            {% if request.user.image %}
                            <img src="{{ request.user.image.url }}" alt="user-image" class="rounded-circle" style="object-fit: cover; width: 40px; height: 40px;">
                        {% else %}
                            <img src="https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="user-image" class="rounded-circle" style="object-fit: cover; width: 40px; height: 40px;">
                        {% endif %}
                        </div>
                        
                        <div class="pt-2">{% if notifications_data.unread_count > 0 %}
                            <span class="badge bg-danger d-flex translate-middle p-1" style="width: 10px; height: 10px; border-radius: 50%;"></span>
                        {% endif %}</div>
                    </div>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item mt-0" href="{% url 'user-profile' request.user.id %}">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-2">
                                    <div class="avatar avatar-online">
                                        {% if request.user.image %}
                                            <img src="{{ request.user.image.url }}" alt="user-image" class="rounded-circle" style="object-fit: cover;">
                                        {% else %}
                                            <img src="https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="user-image" class="rounded-circle" style="object-fit: cover;">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">{{ request.user.username }}</h6>
                                    <small class="text-muted">{{ request.user.get_role_display }}</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <a href="{% url 'notifications' request.user.id  %}" class="dropdown-item">
                        <i class="bx bx-bell me-1"></i>
                        <span>Уведомления</span>
                        {% notifications request.user as notifications_data %}
                        {% if notifications_data.unread_count > 0 %}
                            <span class="badge bg-danger">
                                {{ notifications_data.unread_count }}
                            </span>
                        {% endif %}
                    </a>
                    <li>
                        <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <a href="{% url 'password_change' %}" class="dropdown-item">
                        <i class="bx bx-edit me-1"></i>
                        <span>Смена пароля</span>
                    </a>
                    <li>
                        <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="bx bx-power-off me-1"></i>
                            <span>Выйти</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div class="navbar-search-wrapper search-input-wrapper d-none">
            <input 
            type="text" 
            name="query" 
            class="form-control search-input container-xxl border-0" 
            placeholder="Поиск..." 
            aria-label="Search..."
            value="{{ request.GET.query|default:'' }}"
        >
            <i class="bx bx-x search-toggler cursor-pointer"></i>
        </div>
</form>
