{% load static %}
{% load tags %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    <div class="app-brand demo">
        <a href="{% url 'dashboard' %}" class="d-flex align-items-center">
            <span class="app-brand-logo demo">
                <img src="{% static 'assets/img/logo/logo.svg' %}" alt="Logo" width="40">
            </span>
            <span class="app-brand-text demo menu-text fw-bold fs-4 text-uppercase ms-2">DEER SAP</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx bx-circle d-block bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="menu-inner py-1">
        <li class="menu-header small">
            <span class="menu-header-text">Меню</span>
        </li>
        <li class="menu-item {% if url_name == 'dashboard' %} active {% endif %}">
            <a href="{% url 'dashboard' %}" class="menu-link">
                <i class="menu-icon bx bx-home-circle"></i>
                <div>Главная</div>
            </a>
        </li>
        {% if request.user|has_permission:"view_expense" %}
        <li class="menu-item {% if url_name == 'finance-list' %} active {% endif %}">
            <a href="{% url 'finance-list' %}" class="menu-link">
                <i class="menu-icon bx bx-dollar-circle"></i>
                <div>Финансы</div>
            </a>
        </li>
        {% else %}
        <li class="menu-item {% if url_name == 'finance-list' %} active {% endif %}">
            <a href="javascript:void(0);" class="menu-link" onclick="showNoAccessMessage()">
                <i class="menu-icon bx bx-dollar-circle"></i>
                <div class="text-danger">Финансы</div>
            </a>
        </li>
        {% endif %}

        <li class="menu-header small">
            <span class="menu-header-text">Продажи</span>
        </li>
        {% if request.user|has_permission:"view_category" %}
        <li class="menu-item {% if url_name == 'category-list' %} active {% endif %}">
            <a href="{% url 'category-list' %}" class="menu-link">
                <i class="menu-icon bx bx-category"></i>
                <div>Категории</div>
            </a>
        </li>
        {% else %}
        <li class="menu-item {% if url_name == 'category-list' %} active {% endif %}">
            <a href="javascript:void(0);" class="menu-link" onclick="showNoAccessMessage()">
                <i class="menu-icon bx bx-category"></i>
                <div class="text-danger">Категории</div>
            </a>
        </li>
        {% endif %}
        
        {% if request.user|has_permission:"view_product" %}
        <li class="menu-item {% if url_name == 'product-list' %} active {% endif %}">
            <a href="{% url 'product-list' %}" class="menu-link">
                <i class="menu-icon bx bx-store"></i>

                <div>Каталог</div>
            </a>
        </li>
        {% else %}
        <li class="menu-item {% if url_name == 'product-list' %} active {% endif %}">
            <a href="javascript:void(0);" class="menu-link" onclick="showNoAccessMessage()">
                <i class="menu-icon bx bx-store"></i>
                <div class="text-danger">Каталог</div>
            </a>
        </li>
        {% endif %}

        <li class="menu-item {% if url_name == 'product-sale' %} active {% endif %}">
            <a href="{% url 'product-sale' %}" class="menu-link">
                <i class="menu-icon bx bx-wallet"></i>
                <div>Продажа</div>
            </a>
        </li>
        <li class="menu-item {% if url_name == 'product-income' %} active {% endif %}">
            <a href="{% url 'product-income' %}" class="menu-link">
                <i class="menu-icon bx bx-package"></i>
                <div>Поставка</div>
            </a>
        </li>
        {% if request.user|has_permission:"view_user" %}
        <li class="menu-item {% if url_name == 'user-list' %} active {% endif %}">
            <a href="{% url 'user-list' %}" class="menu-link">
                <i class="menu-icon bx bx-user"></i>
                <div>Сотрудники</div>
            </a>
        </li>
        {% else %}
        <li class="menu-item {% if url_name == 'user-list' %} active {% endif %}">
            <a href="javascript:void(0);" class="menu-link" onclick="showNoAccessMessage()">
                <i class="menu-icon bx bx-user"></i>
                <div class="text-danger">Сотрудники</div>
            </a>
        </li>
        {% endif %}

        <li
            class="menu-item {% if url_name == 'history' or url_name == 'total' or url_name == 'sold-history' or url_name == 'income-history' %} open {% endif %}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon bx bx-archive"></i>
                <div>История</div>
            </a>
            <ul class="menu-sub">
                {% if request.user|has_permission:"view_orderhistory" %}
                <li class="menu-item {% if url_name == 'total' %} active {% endif %}">
                    <a href="{% url 'total' %}" class="menu-link">
                        <div>Общая</div>
                    </a>
                </li>
                {% else %}
                <li class="menu-item {% if url_name == 'total' %} active {% endif %}">
                    <a href="javascript:void(0);" class="menu-link" onclick="showNoAccessMessage()">
                        <div class="text-danger">Общая</div>
                    </a>
                </li>
                {% endif %}
                {% if request.user|has_permission:"view_soldhistory" %}
                <li class="menu-item {% if url_name == 'sold-history' %} active {% endif %}">
                    <a href="{% url 'sold-history' %}" class="menu-link">
                        <div>Продажи</div>
                    </a>
                </li>
                {% else %}
                <li class="menu-item {% if url_name == 'sold-history' %} active {% endif %}">
                    <a href="javascript:void(0);" class="menu-link" onclick="showNoAccessMessage()">
                        <div class="text-danger">Продажи</div>
                    </a>
                </li>
                {% endif %}

                {% if request.user|has_permission:"view_incomehistory" %}
                <li class="menu-item {% if url_name == 'income-history' %} active {% endif %}">
                    <a href="{% url 'income-history' %}" class="menu-link">
                        <div>Поставки</div>
                    </a>
                </li>
                {% else %}
                <li class="menu-item {% if url_name == 'income-history' %} active {% endif %}">
                    <a href="javascript:void(0);" class="menu-link" onclick="showNoAccessMessage()">
                        <div class="text-danger">Поставки</div>
                    </a>
                </li>
                {% endif %}
            </ul>
        </li>


        <li class="menu-header small">
            <span class="menu-header-text">Магазин</span>
        </li>
        <li class="menu-item">
            {% if request.user.shop %}
            <a href="{% url 'shop-index' request.user.shop.id %}" class="menu-link">
                <i class="menu-icon bx bx-store-alt"></i>
                <div>Витрина</div>
            </a>
            {% else %}
            <a href="{% url 'settings' %}" class="menu-link">
                <i class="menu-icon bx bx-store-alt"></i>
                <div>Витрина</div>
            </a>
            {% endif %}
        </li>
        <li class="menu-item {% if url_name == 'settings' %} active {% endif %}">
            <a href="{% url 'settings' %}" class="menu-link">
                <i class="menu-icon bx bx-cog"></i>
                <div>Настройки</div>
            </a>
        </li>
        <!-- <li class="menu-item {% if url_name == 'shop-order-list' %} active {% endif %}">
            <a href="{% url 'shop-order-list' %}" class="menu-link">
                <i class="menu-icon bx bx-cart-download"></i>
                <div>Заказы</div>
            </a>
        </li> -->


    </ul>
    {% endwith %}

</aside>