{% extends 'base.html' %}


{% block content %}
<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-6 row-gap-4">
    <div class="text-center text-md-start">
      <h4 class="mb-1">Добавить новый продукт</h4>
      <p class="mb-0">Заказы, оформленные в вашем магазине</p>
    </div>
    <div class="d-flex flex-wrap gap-4">
      <div class="d-flex gap-4">
        <button class="btn btn-label-secondary">Отменить</button>
        <button class="btn btn-label-primary">Сохранить как черновик</button>
      </div>
      <button type="submit" class="btn btn-primary">Опубликовать продукт</button>
    </div>
</div>

<div class="row gy-3">
    <!-- Первая колонка -->
    <div class="col-12 col-lg-8">
        <div class="card mb-6 h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Информация о продукте</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 mb-6">
                        <label class="form-label" for="product-name">Название</label>
                        <input type="text" class="form-control" id="product-name" placeholder="Название продукта" name="productTitle">
                    </div>
                    <div class="col-6 mb-6">
                        <label class="form-label" for="product-image">Изображение</label>
                        <input type="file" class="form-control" id="product-image" name="productImage">
                    </div>
                </div>
                <div class="row mb-6">
                    <div class="col">
                        <label class="form-label mb-1" for="unit-select">Единица измерения</label>
                        <select id="unit-select" class="select2 form-select">
                            <option value="">Выберите единицу измерения</option>
                            <option value="шт">Шт</option>
                            <option value="кг">Кг</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label" for="product-barcode">Штрихкод</label>
                        <input type="text" class="form-control" id="product-barcode" placeholder="0123-4567" name="productBarcode">
                    </div>
                </div>
                <div>
                    <label class="mb-1" for="product-description">Описание (необязательно)</label>
                    <textarea class="form-control" id="product-description" name="productDescription"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Вторая колонка -->
    <div class="col-12 col-lg-4">
        <div class="card mb-6 h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Цены</h5>
            </div>
            <div class="card-body">
                <div class="mb-6">
                    <label class="form-label" for="product-price">Базовая цена</label>
                    <input type="number" class="form-control" id="product-price" placeholder="Цена" name="productPrice">
                </div>
                <div class="mb-6">
                    <label class="form-label" for="product-discount-price">Цена со скидкой (необязательно)</label>
                    <input type="number" class="form-control" id="product-discount-price" placeholder="Цена со скидкой" name="productDiscountPrice">
                </div>
                <div class="mb-6">
                    <label class="form-label" for="product-quantity">Количество</label>
                    <input type="number" class="form-control" id="product-quantity" placeholder="Количество" name="productQuantity">
                </div>
                <div>
                    <label class="form-label mb-1" for="category-select">Категория</label>
                    <select id="category-select" class="select2 form-select">
                        <option value="">Выберите категорию</option>
                        <option value="Бытовые товары">Бытовые товары</option>
                        <option value="Управление">Управление</option>
                        <option value="Электроника">Электроника</option>
                        <option value="Офис">Офис</option>
                        <option value="Автомобильные товары">Автомобильные товары</option>
                    </select>
                </div>
                <div class="d-flex justify-content-between align-items-center border-top pt-2">
                    <span class="mb-0">В наличии</span>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="product-available" name="productAvailable">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
