{% extends 'base.html' %}

{% block content %}

<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Добавление категории</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-4">
                        <label for="nameWithTitle" class="form-label">Количество</label>
                        <input type="text" id="nameWithTitle" class="form-control" placeholder="Введите количество">
                    </div>
                    <div class="col-12 mb-4">
                        <label for="nameWithTitle" class="form-label">Цена</label>
                        <input type="text" id="nameWithTitle" class="form-control" placeholder="Введите цену">
                    </div>
                    
                    <div class="col-12 mb-4">
                        <label for="nameWithTitle" class="form-label">Дата</label>
                        <input type="date" id="nameWithTitle" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary waves-effect"
                    data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary waves-effect waves-light">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12 col-sm-5">
                        <img src="{{ product.image.url }}" class="img-fluid rounded h-100" style="object-fit: cover;"
                            alt="product-img" />
                    </div>
                    <div class="col-12 col-sm-7">
                        <div class="ps-lg-4">
                            <h2 class="mb-2 fw-bold">{{ product.name }}</h2>
                            <div class="mb-3 d-flex align-items-center g-3">
                                <i class='bx bx-barcode'></i>
                                <span>{{ product.bar_code }}</span>
                            </div>
                            <div class="mb-4 d-flex align-items-center g-3">
                                <i class='bx bx-money'></i>
                                <span class="fw-bold fs-4">{{ product.sale_price }}<sup class="fs-6">с</sup></span>
                            </div>

                            <div class="mb-4">
                                <h3>{{ product.quantity }}<sup class="fs-6">{{ product.unit }}</sup></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-2 ">
                    <span class="badge bg-info">Еда</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>История поставок</h3>
                <div class="">
                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal"
                    data-bs-target="#modalCenter">
                    <i class="bx bx-plus me-1"></i>
                    Добавить
                </button>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive mt-4">
                    <table class="table table-bordered table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Количество</th>
                                <th>Цена</th>
                                <th>Сумма</th>
                                <th>Дата</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for income in product.incomehistory_set.all %}
                            <tr>
                                <td>{{ income.quantity }}</td>
                                <td>{{ income.price }}</td>
                                <td>{{ income.total_sum }}</td>
                                <td>{{ income.created }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}