{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}

<div class="d-flex align-items-center justify-content-between mt-3 mb-4 flex-wrap">
    <div class="d-flex align-items-center gap-3">
        <h2 class="mb-0 fw-bold text-dark">Поставка</h2>
    </div>
    <div class="d-flex align-items-center gap-3">
        <button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#filterModal">
            Фильтр
        </button>
        
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>В наличии</th>
                                <th>Кол-во</th>
                                <th>Ед.</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in page_obj %}
                            <tr>
                                <td>
                                    <a href="javascript:void(0);"
                                        class="d-flex justify-content-start align-items-center product-name">
                                        
                                        <div class="d-flex flex-column">
                                            <h6 class="text-nowrap mb-0">{{ product.name|truncatechars:20 }}</h6>
                                            <span class="text-muted d-flex align-items-center gap-2">
                                                <i class="bx bx-barcode"></i>
                                                {% if product.bar_code %}{{ product.bar_code }}{% else %}Без баркода{% endif %}
                                            </span>
                                        </div>
                                    </a>
                                </td>
                                

                                <td>
                                    {% if product.quantity  ==  0 %}
                                    <span class="badge bg-label-danger">Нет в наличии</span>
                                    {% else %}
                                    {% if product.quantity < product.min_quantity %} 
                                    <span class="badge bg-label-warning">Малый остаток</span>
                                    {% else %}
                                    <span class="badge bg-label-success">В наличии</span>
                                    {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.unit }}</td>
                                <td>
                                    <div class="d-inline-block text-nowrap">
                                       
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalIncome{{ product.id }}">
                                            Добавить поставку
                                        </button>
                                        <div class="modal fade" id="modalIncome{{ product.id }}" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <form method="post" class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalDeleteLable">Новая поставка</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5>{{ product.name }}</h5>
                                                            {% csrf_token %}
                                                            <div class="mb-3">
                                                                <label for="quantity" class="form-label">Количество</label>
                                                                <input type="number" class="form-control"  name="quantity" id="quantity">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="price" class="form-label">Цена</label>
                                                                <input type="number" class="form-control" name="amount" id="amount">
                                                            </div>
                                                            <input type="hidden" class="form-control" name="product_id" value="{{ product.id }}">
                                                    </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex align-items-center justify-content-center me-3 mt-5 flex-wrap">
                        <div class="pagination-container">
                            <nav aria-label="Пагинация">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.number > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1" aria-label="Первая">
                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&laquo;&laquo;</span>
                                    </li>
                                    {% endif %}
                    
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Назад">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&laquo;</span>
                                    </li>
                                    {% endif %}
                    
                                    {% for page_num in visible_pages %}
                                    {% if page_num  ==  page_obj.number %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">{{ page_num }}</span>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                    
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Вперёд">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&raquo;</span>
                                    </li>
                                    {% endif %}
                    
                                    {% if page_obj.number < page_obj.paginator.num_pages %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&raquo;&raquo;</span>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-top fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">Фильтр</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form method="get">
                <div class="modal-body row gy-3">
                    {{ filters.form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
