{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/scanner.css' %}">
{% endblock css %}
{% block content %}
<div class="row gy-3">
  <div class="col-lg-8 col-sm-12">
      <div class="card">
          <div class="card-body p-3">
              <div class="row mb-2 align-items-center gy-2">
                  <div class="col-sm-12 col-lg-3">
                      <input type="number" placeholder="Штрих код" maxlength="14" class="form-control  barcode"
                          name="barcode" autofocus>
                  </div>
                  <div class="col-sm-12 col-lg-3">
                      <input type="number" placeholder="Сумма оплаты" maxlength="8" class="form-control  amount"
                          name="amount">
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-info d-flex align-items-center" id="openScanner">
                        <span>Создать товар</span>
                    </button>
                </div>
              </div>

              <div class="row mb-2">
                  <div class="col-sm-4 product-info"></div>
              </div>

              <div class="table-responsive">
                  <table class="table table-sm table-centered w-100" id="products-datatable">
                      <thead class="table-light">
                          <tr>
                              <th>Товар</th>
                              <th>Штрих код</th>
                              <th>Кол-во</th>
                              <th>Цена</th>
                              <th>Продажная цена</th> 
                              <th>Действия</th>
                          </tr>
                      </thead>
                      <tbody id="product-table-body">
                          <!-- Данные о товарах будут вставлены сюда динамически -->
                      </tbody>
                  </table>
              </div>
          </div> <!-- end card-body-->
      </div> <!-- end card-->
  </div>

  <div class="col-lg-4 col-sm-12">
      <div class="mb-3" style="height: 100%; display: flex; flex-direction: column; position: relative;">
  
          <div style="flex-grow: 0; position: sticky; top: 80px; z-index: 100;">
              <div class="card p-2">
                  <div class="py-3 d-flex justify-content-between align-items-center">
                      <span>Итоговая сумма: </span>
                      <h2 id="total-sum" class="fw-semibold mb-0">0</h2>
                  </div>
                  <div class="mb-2 d-flex justify-content-between align-items-center">
                      <span>Сдача: </span>
                      <h3 class="change fw-semibold mb-0">0</h3>
                  </div>
  
                  <button type="button" class="btn btn-info d-flex align-items-center income">
                      <i class="bx bx-plus-circle me-2"></i>
                      Отправить
                  </button>
              </div>
  
              <div class="mt-2" style="flex-grow: 1; display: flex; flex-direction: column;">
                  <input type="search" placeholder="Добавить по названию" class="form-control search" name="search">
      
                  <!-- Карточка для отображения товаров с прокруткой -->
                  <div class="product-search-results mt-2" style="flex-grow: 1; overflow-y: auto; height: 250px;">
                      <div class="row gy-2" id="search-results">
                          <!-- Динамически добавляемые карточки товаров -->
                      </div>
                  </div>
              </div>
          </div>
  
      </div>
  </div>
  

</div>
  <script>
    document.getElementById('openScanner').addEventListener('click', function(e) {
      e.preventDefault();
      const popupUrl = '/product/create/'; // Указываем URL для создания товара
      window.open(popupUrl, 'popupWindow', 'width=600,height=400'); // Открытие в новом окне
  });
</script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      let barcodeInput = $('.barcode');
      let amountInput = $('.amount');
      let discountInput = $('.discount');
      let productList = [];
      let totalSum = 0;
      let searchField = $('.search');
      let discountedSum = 0;
  
      $(searchField).on('input', function () {
              let searchQuery = this.value.trim();
              if (searchQuery.length >= 2) {
                  $.ajax(`{% url 'search-product' %}?query=${encodeURIComponent(searchQuery)}`, {
                      method: 'GET',
                      headers: {
                          'X-Requested-With': 'XMLHttpRequest',
                      },
                      success: function (response) {
                          console.log(response);
                          console.log(searchQuery)
                          const searchResultsContainer = document.getElementById('search-results');
                          searchResultsContainer.innerHTML = ''; // Очищаем предыдущие результаты
                          document.querySelector('.product-search-results').style.display = 'block';
  
                          if (response.products && response.products.length > 0) {
                              response.products.forEach(product => {
                                  searchResultsContainer.insertAdjacentHTML('beforeend', `
                                  <div class="card">
                                    <div class="card-body p-1">
                                        <div class="row g-1">
                                            <!-- Левая секция -->
                                            <div class="product-img col-2">
                                                <img src="${product.image}" alt="Изображение товара" class="img-fluid w-75 d-block mx-auto">
                                            </div>
                                
                                            <!-- Центральная секция с двумя блоками -->
                                            <div class="col-8">
                                                <div class="row g-1">
                                                    <div class="col-12 border-bottom pb-1">
                                                        <div class="product-details d-flex justify-content-between">
                                                            <span class="product-name text-truncate text-bold w-75" title="Название товара">${product.name}</span>
                                                            <span class="product-quantity">${product.quantity}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 pt-1">
                                                        <div class="text-end me-1 d-flex justify-content-between">
                                                            <span class="product-barcode text-muted">${product.bar_code}</span>
                                                            <span class="price" >${product.sale_price}c</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <!-- Правая секция -->
                                            <div class="col-2 border-start d-flex align-items-center justify-content-center">
                                                <button class="add-btn add-product" data-id="${product.id}">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  `);
                              });
                          } else {
                              searchResultsContainer.innerHTML = '<div class="text-center">Товары не найдены.</div>';
                          }
                      },
                      error: function (xhr, status, error) {
                          console.error('Ошибка поиска:', error);
                          $('#search-results').innerHTML = '<div class="text-center">Ошибка поиска товара.</div>';
                      }
                  })
  
              } else {
                  document.querySelector('.product-search-results').style.display = 'none';
              }
          });
  
      // Обработчик события для ввода штрих-кода
      barcodeInput.on('keypress', function (e) {
        if (e.which === 13) {
          let barcode = $(this).val();
              $.ajax({
                  url: "{% url 'get-product' %}",
                  type: "GET",
                  data: { bar_code: barcode },
                  success: function (data) {
  
                      // Добавляем продукт в список, если его нет, или увеличиваем количество, если он уже есть
                      let existingProduct = productList.find(product => product.bar_code === data.bar_code);
                      if (existingProduct) {
                        existingProduct.quantity++;
                        showNoAccessMessage(`+1 ${productName}!`, '#0b863f');
                      } else {
                          productList.unshift({
                              id: data.id,
                              name: data.name,
                              bar_code: data.bar_code,
                              quantity: 1,
                              price: data.price,
                              sale_price:data.sale_price,
                              stock: data.quantity,
                              image: data.image
                          });
                      }
  
                      updateTable();
                  },
                  error: function () {
                    showNoAccessMessage('Товар не найден!', '#ffa500');
                  }
              });
              $(this).val(''); // очищаем поле штрих-кода после поиска
          }
      });
  
      // Обработчик клика по кнопке "Добавить продукт"
      $(document).on('click', '.add-product', function () {
          let productId = $(this).data('id'); // Получаем id продукта
  
          // Отправляем GET-запрос на сервер с id продукта
          $.ajax({
              url: "{% url 'get-product' %}",
              type: "GET",
              data: { id: productId },
              success: function (data) {
                  // Добавляем продукт в список
                  let existingProduct = productList.find(product => product.id === data.id);
                  let productName = data.name.length > 20 ? data.name.substring(0, 17) + '...' : data.name;
                  if (existingProduct) {
                  // Увеличиваем количество, если продукт уже есть в списке
                    existingProduct.quantity++;
                    showNoAccessMessage(`+1 ${productName}!`, '#0b863f');
                  } else {
                      productList.push({
                          id: data.id,
                          name: data.name,
                          bar_code: data.bar_code,
                          quantity: 1,
                          price: data.price,
                          sale_price:data.sale_price,
                          stock: data.quantity,
                          image: data.image
                      });
                      showNoAccessMessage(`Товар ${productName} добавлен!`, '#0b863f');
                  }
  
                  updateTable();
              },
              error: function () {
                showNoAccessMessage('Товар не найден!', '#ffa500');
              }
          });
      });
    
  // Обработчики для инкремента и декремента
  $(document).on('click', '.increment', function () {
    let barcode = $(this).data('bar_code');
    const product = productList.find(product => product.bar_code == barcode);
  
    $('.product-info').empty(); // Очищаем старые сообщения об ошибках
  
    if (product) {
      product.quantity++;
      updateTable();
    }
  });
  
  $(document).on('click', '.decrement', function () {
    let barcode = $(this).data('bar_code');
    const product = productList.find(product => product.bar_code == barcode);
    if (product && product.quantity > 1) {
      product.quantity--;
      updateTable();
    }
  });
  
        function updateTotal() {
            totalSum = 0;
            discountedSum = 0;  // Сбрасываем discountedSum на каждый расчет
            $('#product-table-body tr').each(function () {
                const quantity = parseFloat($(this).find('.product-quantity').text().split('/')[0]) || 0;
                const price = parseFloat($(this).find('.price-input').val()) || 0;
                totalSum += price * quantity;
            });
          
            // Учитываем скидку на totalSum
            discountedSum = totalSum * (1 - (parseFloat($('#discount').val()) || 0) / 100);
            updateDisplay();
        }
    
        function updateDisplay() {
          $('#total-sum').text(discountedSum.toFixed(2));
          updateChange();
        }
    
        function updateChange() {
          let amount = parseFloat(amountInput.val()) || 0;
          $('.change').text((amount - discountedSum).toFixed(2));
        }
    
        amountInput.on('input', updateChange);
    
    
        // Функция для обновления таблицы товаров
        function updateTable() {
          $('#product-table-body').empty();
          for (let product of productList) {
            product.sale_price = product.sale_price || (product.price * 1.2).toFixed(2);
    
            $('#product-table-body').append(`
              <tr>
                <td>${product.name}</td>
                <td>${product.bar_code}</td>
                <td class="product-quantity d-flex align-items-center gap-2">
                  ${product.quantity}/${product.stock}
                  <div class="d-flex flex-column">
                    <span class="text-muted increment" data-bar_code="${product.bar_code}">
                      <i class='bx bx-chevron-up'></i>
                    </span>
                    <span class="text-muted decrement" data-bar_code="${product.bar_code}">
                      <i class='bx bx-chevron-down'></i>
                    </span>
                  </div>
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm price-input" value="${product.price}" data-bar_code="${product.bar_code}">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm sale-price-input" value="${product.sale_price}" data-bar_code="${product.bar_code}">
                </td>
                <td><button class="btn btn-sm btn-danger delete-product" data-id="${product.id}">Удалить</button></td>
              </tr>
            `);
          }
          updateTotal();
        }
    
        $(document).on('input', '.price-input', function () {
          let barcode = $(this).data('bar_code');
          let newPrice = parseFloat($(this).val()) || 0;
    
          let product = productList.find(product => product.bar_code === barcode);
          if (product) {
            product.price = newPrice;
          }
          
          updateTotal();
        });
    
        
    
        $(document).on('click', '.delete-product', function () {
            let productId = $(this).data('id');
            productList = productList.filter(product => product.id !== productId);

            let product = productList.find(product => product.id == productId);

            $(this).closest('tr').fadeOut(300, function () {
                $(this).remove();
                totalSum -= product.price * product.quantity;
                
            });
            updateTotal();
            updateChange();
        });
    
        $('.income').on('click', function () {
          if (amountInput.val() < discountedSum) {
            showNoAccessMessage('Недостаточно средств!', '#ffa500');
            return false;
          }
          if (productList.length === 0) {
            showNoAccessMessage('Введите хотя бы один товар!', '#ffa500');
            return false;
          }
    
          let products = productList.map(product => ({
            id: product.id,
            quantity: product.quantity,
            price: parseFloat($(`input.price-input[data-bar_code="${product.bar_code}"]`).val()),
            sale_price: parseFloat($(`input.sale-price-input[data-bar_code="${product.bar_code}"]`).val())
          }));
    
          $.ajax({
            url: "{% url 'create-income-history' %}",
            type: "POST",
            data: {
              products: JSON.stringify(products),
              csrfmiddlewaretoken: '{{ csrf_token }}',
              amount: amountInput.val(),
              change: amountInput.val() - discountedSum,
            },
            success: function () {
              showNoAccessMessage('Поставка успешна!', '#0b863f');
              productList = [];
              $('#product-table-body').empty();
              $('#total-sum').text('Итоговая сумма: 0');
            },
            error: function (xhr, status, error) {
              console.log(error);
            }
          });
        });
      });
    </script>
  
  
{% endblock %}