{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <a href="{% url 'product-create' %}" class="btn btn-primary mb-2">
                                <i class="mdi mdi-plus-circle me-2"></i> Добавить товар
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <form method="get" class="row">
                                <!-- Сумма от -->
                                <div class="col-md-3">
                                    <label for="employee" class="form-label">Цена с</label>
                                    <input type="number" name="price_min" class="form-control" placeholder="Сумма от" 
                                           value="{{ request.GET.price_min }}">
                                </div>
                                <!-- Сумма по -->
                                <div class="col-md-3">
                                    <label for="employee" class="form-label">Цена по</label>
                                    <input type="number" name="price_max" class="form-control" placeholder="Сумма по" 
                                           value="{{ request.GET.price_max }}">
                                </div>
                                <!-- В наличии -->
                                <div class="col-md-3">
                                    <label for="employee" class="form-label">Доступность</label>
                                    <select name="in_stock" class="form-control">
                                        <option value="" {% if request.GET.in_stock == "" %}selected{% endif %}>Все</option>
                                        <option value="yes" {% if request.GET.in_stock == "yes" %}selected{% endif %}>В наличии</option>
                                        <option value="no" {% if request.GET.in_stock == "no" %}selected{% endif %}>Нет в наличии</option>
                                    </select>
                                </div>
                                <!-- Кнопка фильтрации -->
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary w-100">Фильтровать</button>
                                </div>
                            </form>
                        </div>
                    </div>
    
                    <div class="table-responsive">
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="">Товар</th>
                                                <th class="">Штрих код</th>
                                                <th class="">Кол-во</th>
                                                <th class="">Цена</th>
                                                <th class="">Цена для продажи</th>
                                                <th class="">Единица</th>
                                                <th>В наличии</th>
                                                <th class="">Действия</th>
                                            </tr>
                                        </thead>
    
                                        <tbody>
    
                                            {% for product in products %}
    
                                            <tr class="odd">
                                                <td class="">
                                                    {% if product.image %}
                                                    <img src="{{ product.image.url }}" alt="contact-img"
                                                        title="contact-img" class="rounded me-3" height="48" width="48" style="object-fit: cover;">
                                                    {% endif %}
                                                    <p class="m-0 d-inline-block align-middle font-16">
                                                        <a href="{% url 'product-details' product.id %}" class="text-body">{{ product.name }}</a>
                                                    </p>
                                                </td>
                                                <td class="">
                                                    {{ product.bar_code }}
                                                </td>
                                                <td class="sorting_1">
                                                    {{ product.quantity }}шт
                                                    
                                                </td>
                                                <td>
                                                    {{ product.price }}с
                                                </td>
                                                <td>
                                                    {{ product.sale_price }}с
                                                </td>
                                                <td>
                                                    {{ product.unit }}
                                                </td>
                                                <td>
                                                    {% if product.in_stock %}
                                                    <span class="badge bg-success">В наличии</span>
                                                    {% else %}
                                                    <span class="badge bg-danger">Нет в наличии</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'product-update' product.id %}"><i class='bx bx-edit fs-5'></i></a>
                                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal{{ product.id }}">
                                                        <i class='bx bx-trash text-danger fs-5'></i>
                                                    </button>
                                                    <div class="modal fade" id="deleteModal{{ product.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="fs-5" id="deleteModalLabel">Вы уверены, что хотите удалить?</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    {{ product.name }}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a href="{% url 'product-delete' product.id %}" type="submit" name="delete" class="btn btn-danger">Да</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% empty %}
                                                <p>Нет товаров, соответствующих фильтру.</p>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                           
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    

{% endblock %}
