{% load static %}
<html lang="ru-RU" class="light-style layout-navbar-fixed layout-wide layout-menu-fixed layout-menu-collapsed" dir="ltr"
    data-theme="theme-default" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Dashboard - DEER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{% static 'assets/img/logo/logo.svg' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css'  %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css'  %}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css'  %}" />

    <script src="{% static 'assets/vendor/js/helpers.js'  %}"></script>
    <script src="{% static 'assets/vendor/js/template-customizer.js'  %}"></script>
    <script src="{% static 'assets/js/config.js'  %}"></script>
    
</head>

<body>
    <div class="bs-toast toast toast-ex animate__animated my-2 fade bg-success animate__fade hide" role="alert" id="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
        <div class="toast-header">
          <i class="icon-base bx bx-bell me-2"></i>
          <div class="me-auto fw-medium">Уведомление</div>
          <small>Только что</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Товар успешно оформлен.</div>
      </div>
    <div class="content-wrapper">
        <div class="container-fluid flex-grow-1 container-p-y">
            <div class="row gy-3">
                <div class="col-lg-8 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex gap-3 mb-4 align-items-center">
                                <a href="{% url 'sold-history' %}">
                                    <img src="{% static 'assets/img/logo/logo.svg' %}" width="40" alt="">
                                </a>
                                <input type="text" id="barcode" placeholder="Штрих код или название товара" maxlength="14"
                                    class="form-control" name="barcode" autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-2 align-items-center" id="search-results" style="max-height: 70vh; overflow-y: auto;">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12" >
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="table-responsive flex-grow-1 overflow-auto" style="max-height: 70vh;">
                                <table class="table table-sm table-centered w-100" id="products-datatable">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Товар</th>
                                            <th>Цена</th>
                                        </tr>
                                    </thead>
                                    <tbody id="product-table-body">
                                        <!-- Данные о товарах будут вставлены сюда динамически -->
                                    </tbody>
                                </table>
                            </div>
                            <button type="button"
                                class="btn btn-primary btn-xl d-flex align-items-center w-100 justify-content-between mt-3" id="checkout-btn"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd">
                                Оплата <span class="total-sum">0сом</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEndLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasEndLabel" class="offcanvas-title">Оплата</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column">
                    <div class="row gy-3">
                        <div class="col-12">
                            <label for="amount">Наличные</label>
                            <input type="number" id="amount" placeholder="Наличные" maxlength="8"
                                class="form-control amount" name="amount">
                        </div>
                        <div class="col-7">
                            <label for="online-card">Онлайн кошелек</label>
                            <input type="number" id="online-card" placeholder="Онлайн кошелек" maxlength="8"
                                class="form-control" name="online-card">
                        </div>
                        <div class="col-5">
                            <label for="discount">Скидка</label>
                            <input type="number" id="discount" placeholder="Скидка" maxlength="8"
                                class="form-control discount" name="discount">
                        </div>
                    </div>
                    <div class="py-3 d-flex justify-content-between align-items-center">
                        <h2 class="fw-semibold mb-0">Сумма: </h2>
                        <h2 class="fw-semibold mb-0 total-sum">0</h2>
                    </div>
                    <div class="mb-2 d-flex justify-content-between align-items-center">
                        <h2 class="fw-semibold mb-0">Сдача: </h2>
                        <h2 class="change fw-semibold mb-0">0</h2>
                    </div>
                    <p class="text-warning">По умолчанию "Онлайн кошелек"</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="printReceipt" checked>
                        <label class="form-check-label" for="printReceipt">
                            чек
                        </label>
                    </div>
                    <button type="button" id="sale" class="btn btn-primary mb-2 w-100">Отправить</button>
                    <button type="button" class="btn btn-label-secondary w-100" data-bs-dismiss="offcanvas">
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
    


    <script src="{% static 'assets/vendor/libs/jquery/jquery.js'  %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js'  %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js'  %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js'  %}"></script>
    <script src="{% static 'assets/js/main.js'  %}"></script>

    <script>
    $(document).ready(function () {
        let barcodeInput = $('#barcode');
        let amountInput = $('.amount');
        let discountInput = $('.discount');
        let totalSumContainer = $('.total-sum');
        let onlineCardInput = $('#online-card');
        let productList = [];
        
        let totalSum = 0;
        let discountedSum = 0;
        getProducts();
        disableButton();
        
        function showAlert() {
        let alertBox = $("#alert");
        alertBox.addClass("show");

        setTimeout(() => {
            alertBox.removeClass("show");
        }, 2000);
    }
        $('#sale').on('click', function () {
            let amount = parseFloat(amountInput.val()) || 0;
            let discount = parseFloat(discountInput.val()) || 0;
            let onlineCard = parseFloat(onlineCardInput.val()) || 0;
            let totalSum = parseFloat(totalSumContainer.text()) || 0;
            let change = amount - (totalSum - discount);
            let paymentMethod;
            if (onlineCard <= 0 && amount <= 0 || onlineCard > 0 && amount <= 0) {
                paymentMethod = 'online';
            } else if (onlineCard > 0 && amount > 0) {
                paymentMethod = 'split';
            } else  {
                paymentMethod = 'cash';
            }

            const printReceiptChecked = document.getElementById('printReceipt').checked;

            $.ajax({
                url: `{% url 'create-sale-history' %}`,
                method: 'POST',
                data: {
                    products: JSON.stringify(productList),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    amount: amount + onlineCard - change ? onlineCard : totalSum,
                    discount: discount,
                    payment_method: paymentMethod,
                    change: change > 0 ? change : 0
                },
                success: function (response) {
                    productList = [];
                    totalSum = 0;
                    discountedSum = 0;
                    totalSumContainer.text('');
                    discountInput.val('');
                    amountInput.val('');
                    onlineCardInput.val('');
                    $('.change').text('');
                    getProducts();
                    disableButton();
                    $('#product-table-body').empty();
                    showAlert();

                    if (printReceiptChecked) {
                            const popupUrl = `/history/receipt/${data.order_id}`; // Получаем ID заказа из ответа
                            const left = (window.screen.width - 200) / 2;
                            const top = (window.screen.height - 600) / 4;

                            const popupWindow = window.open(popupUrl, 'popupWindow', 
                                `width=200,height=600,left=${left},top=${top},toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no`
                            );

                            // Печать и закрытие попапа после печати
                            popupWindow.onload = function() {
                                popupWindow.print();
                                popupWindow.onafterprint = function() {
                                    popupWindow.close();
                                };
                            };
                        }

                },
                error: function (xhr, status, error) {
                    console.log("Error:", status, error);
                }
            })
        })

        $(document).on('click', '.delete-product', function () {
            let productId = $(this).data('id');
            deleteProduct(productId);
        })

        amountInput.on('input', function () {
            let amount = this.value.trim();
            let discount = parseFloat(discountInput.val()) || 0;
            if (amount < totalSum) {
                onlineCardInput.val(totalSum - amount);
            } else {
                onlineCardInput.val(0);
            }
            let change = amount - (totalSum - discount);
            $('.change').text(change >= 0 ? change.toFixed(2) : '0');
        })

        $(document).on('keydown', '.product-quantity', function (e) {
            if (e.key === 'Enter') {
                let productId = $(this).data('id');
                let quantity = parseInt($(this).val());
                updateProductQuantity(productId, quantity);
            }
        })

        barcodeInput.on('keypress', function (e) {
            let searchQuery = this.value.trim();
            if (e.which === 13) {
                getProduct(null, searchQuery);
                $('#checkout-btn').prop('disabled', false);
                $('#sale').prop('disabled', false);
                barcodeInput.val('');
            }
        })
    
        barcodeInput.on('input', function(e) {
            let searchQuery = this.value.trim();
            getProducts(searchQuery);
        })
    
        function getProducts(query) {
            $.ajax({
                url: `{% url 'get-products' %}${query ? '?query=' + encodeURIComponent(query) : ''}`,
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function (data) {
                    $('#search-results').empty();                
                    data.forEach(element => {
                        
                        $('#search-results').append(`
                        <div class='col-lg-2 col-sm-6 col-md-4'>
                            <div class='card h-100 add-product bg-primary text-white cursor-pointer' data-id="${element.id}">
                                <div class='card-body d-flex flex-column justify-content-between'>
                                    <span class=''>${element.name.slice(0, 20)}</span>
                                    <span class='small'>${element.sale_price} сом</span>
                                </div> 
                            </div>
                        </div>
                        `);
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    
        $(document).on('click', '.add-product', function () {
            let productId = $(this).data('id');
            getProduct(productId);
            $('#sale').prop('disabled', false);
            $('#checkout-btn').prop('disabled', false);
        })
    
        function addProduct(product_) {
            
            let product = productList.find(product => product.id === product_.id)
            if (product) {
                product.quantity += 1

            } else {
                product_.quantity = 1
                productList.push(product_)
            }
            updateTable();
            calculateTotalSum();
            amountInput.val('');
            discountInput.val('');
            onlineCardInput.val('');
        }

        function updateProductQuantity(productId, quantity) {
            let product = productList.find(product => product.id === productId);
            if (product) {
                product.quantity = quantity;
                updateTable();
                calculateTotalSum();
            }
        }
        function deleteProduct(productId) {
            productList = productList.filter(product => product.id !== productId);
            if (productList.length == 0) {
                disableButton();
            }
            updateTable();
            calculateTotalSum();
        }
        function updateTable() {
            let tableBody = $('#product-table-body');
            tableBody.empty();
            productList.forEach(product => {
                tableBody.append(`
                    <tr>
                        <td class="d-flex align-items-center gap-2">
                            <button class="btn btn-sm text-danger fs-3 delete-product" data-id="${product.id}">
                                <i class='bx bx-x-circle'></i>    
                            </button>    
                            <div class="d-flex flex-column">
                                <span>${product.name.slice(0, 20)}...</span>
                                <input type="number" class="form-control form-control-sm product-quantity" style="width: 100px;" value="${product.quantity}" data-id="${product.id}"/>  
                            </div>
                        </td>
                        <td>${product.sale_price * product.quantity}<sup>сом</sup></td>
                    </tr>
                `);
            });
            totalSum = productList.reduce((total, product) => total + product.price * product.quantity, 0);
        }
    
        function getProduct(productId, productBarCode) {
            $.ajax({
                url: `{% url 'get-product' %}${productId ? '?product_id=' + encodeURIComponent(productId) : '?bar_code=' + encodeURIComponent(productBarCode)}`,
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function (data) {
                    addProduct(data)
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            })
        }

        function calculateTotalSum() {
            totalSum = productList.reduce((total, product) => total + product.sale_price * product.quantity, 0);
            totalSumContainer.text(totalSum.toFixed(2)+' сом');
        }

        function disableButton() {
            $('#sale').prop('disabled', true);
            $('#checkout-btn').prop('disabled', true);
        }
        
        amountInput.on('input', updateChange);
        discountInput.on('input', updateChange);
    });
    </script>

</body>

</html>
