{% extends 'base.html' %}


{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card">
                <h3 class="card-header">
                    Изменить продукт
                </h3>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="row g-3">
                        {% csrf_token %}
                        {% if messages %}
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <span class="badge bg-info p-2">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-6">
                            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}<span class="text-danger">*</span></label>
                            <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" 
                                   class="form-control {% if form.name.errors %}is-invalid{% endif %}" 
                                   value="{{ form.name.value|default_if_none:'' }}">
                            {% if form.name.errors %}
                                <div class="invalid-feedback">{{ form.name.errors }}</div>
                            {% endif %}
                        </div>
        
                        <div class="col-md-6">
                            <label for="{{ form.bar_code.id_for_label }}" class="form-label">{{ form.bar_code.label }}</label>
                            {{ form.bar_code }}
                            {% if form.bar_code.errors %}
                                <div class="invalid-feedback">{{ form.bar_code.errors }}</div>
                            {% endif %}
                        </div>
        
                        <div class="col-md-6">
                            <label for="{{ form.price.id_for_label }}" class="form-label">{{ form.price.label }}<span class="text-danger">*</span></label>
                            {{ form.price }}
                            {% if form.price.errors %}
                                <div class="invalid-feedback">{{ form.price.errors }}</div>
                            {% endif %}
                        </div>
        
                        <div class="col-md-6">
                            <label for="{{ form.sale_price.id_for_label }}" class="form-label">{{ form.sale_price.label }}<span class="text-danger">*</span></label>
                            {{ form.sale_price }}
                            {% if form.sale_price.errors %}
                                <div class="invalid-feedback">{{ form.sale_price.errors }}</div>
                            {% endif %}
                        </div>
        
                        <div class="col-md-6">
                            <label for="{{ form.quantity.id_for_label }}" class="form-label">{{ form.quantity.label }}</label>
                            {{ form.quantity }}
                            {% if form.quantity.errors %}
                                <div class="invalid-feedback">{{ form.quantity.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.quantity.id_for_label }}" class="form-label">{{ form.unit.label }}</label>
                            {{ form.unit }}
                            {% if form.unit.errors %}
                                <div class="invalid-feedback">{{ form.unit.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.image.id_for_label }}" class="form-label">{{ form.image.label }}</label>
                            <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" 
                                   class="form-control" 
                                   value="{{ form.image.value|default_if_none:'' }}">
                            {% if form.image.errors %}
                                <div class="invalid-feedback">{{ form.image.errors }}</div>
                            {% endif %}
                        </div>
        
        
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary product-create-btn">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
