{% load static %}
<html lang="ru-RU" class="light-style layout-navbar-fixed layout-wide layout-menu-fixed layout-menu-collapsed" dir="ltr"
    data-theme="theme-default" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Dashboard - DEER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

    <link rel="shortcut icon" href="{% static 'assets/img/logo/logo.svg' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'assets/vendor/libs/node-waves/node-waves.css'  %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css'  %}" />

    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css'  %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css'  %}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css'  %}" />

    <script src="{% static 'assets/vendor/js/helpers.js'  %}"></script>
    <script src="{% static 'assets/vendor/js/template-customizer.js'  %}"></script>
    <script src="{% static 'assets/js/config.js'  %}"></script>
    {% block css %} {% endblock css %}
</head>

<body class="p-5">
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary mb-3" href="{% url 'settings' %}">назад</a>
    {% for message in messages %}<div class="col-md-5"><span class="badge bg-info p-2">{{ message }}</span></div>{% endfor %}

    </div>
    <div class="row gy-4">
        <!-- Карточка 3: текущий тариф -->
        <div class="col-lg-4">
            <div class="card shadow-sm h-100 position-relative">
                <div class="card-body">
                    <h5 class="card-title mb-3">Мой тариф</h5>
                    {% if current_tariff %}
                    <div class="card p-3 border-1 rounded-3 me-3" style="min-width: 250px; flex-shrink: 0;">
                        <div class="text-start">
                          <h6 class="mb-1 text-muted">{{ current_tariff.name }}</h6>
                          <h2 class="fw-bold">{{ current_tariff.price|floatformat:0 }} сом<small class="fs-6 text-muted">/ месяц</small></h2>
                        </div>
                        <hr style="border: none; border-top: 1px solid #8a8b8b; margin: 5px; padding: 0;">
                        <ul class="list-unstyled">
                          {% for feature in current_tariff_features %}
                            <li class="d-flex align-items-center">
                              {% if feature.status %}
                                <i class="bx bx-check" style="color:#500ba0; font-size: 1.5rem;"></i>
                                <span class="fs-8">{{ feature.name }}</span>
                              {% else %}
                                <i class="bx bx-x" style="color:gray; font-size: 1.5rem;"></i>
                                <span class="fs-8">{{ feature.name }}</span>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                      <hr>
                      <p>Активен до: {{ shop.payment_due_date }}</p>
                    {% else %}  
                        <p class="text-muted">Нет активного тарифа</p>
                    {% endif %}
                </div>
            </div>
        </div>

         <!-- Карточка 1: все тарифы -->
        <div class="col-lg-8">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title mb-3">Другие тарифы</h5>
                    <div class="d-flex flex-nowrap overflow-auto">
                        {% for tariff, features in tariff_features_dict.items %}
                        {% if tariff.id != current_tariff.id %}
                        <div class="card p-3 border-2 rounded-3 me-3 position-relative tariff-card"
                            style="min-width: 250px; flex-shrink: 0;"
                            data-tariff-id="{{ tariff.id }}" 
                            data-tariff-price="{{ tariff.price|floatformat:0 }}">
                             {% if tariff.id == selected_tariff %}
                            <i class="bx bx-check-circle text-success position-absolute"
                               style="top: 10px; right: 10px; font-size: 1.5rem;"></i>
                            {% endif %}

                            <h6 class="mb-1 text-muted">{{ tariff.name }}</h6>
                            <h3 class="fw-bold">{{ tariff.price|floatformat:0 }} сом
                                <small class="fs-6 text-muted">/ месяц</small>
                            </h3>

                            <hr style="border: none; border-top: 1px solid #8a8b8b; margin: 5px; padding: 0;">

                            <ul class="list-unstyled">
                                {% for feature in features %}
                                <li class="d-flex align-items-center">
                                    {% if feature.status %}
                                    <i class="bx bx-check" style="color:#500ba0; font-size: 1.5rem;"></i>
                                    {% else %}
                                    <i class="bx bx-x" style="color:gray; font-size: 1.5rem;"></i>
                                    {% endif %}
                                    <span class="fs-8">{{ feature.name }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                   </div>
            </div>
        </div>

        <!-- Карточка 4: система оплаты -->
<div class="col-lg-6">
    <div class="card shadow-sm h-100">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Оплата за тариф</h5>
                <p>баланс: <span class="text-primary fs-5">{{ shop.balance }}</span> сом</p>
                <a href="#">пополнение баланса ></a>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-1 gap-1">
                <select class="form-select" id="tariff-select" aria-label="Выберите тариф">
                    {% for tariff in tariffs %}
                    <option 
                        value="{{ tariff.id }}" 
                        data-tariff-price="{{ tariff.price|floatformat:0 }}"
                        {% if tariff.id == current_tariff.id %}selected{% endif %}>
                        {{ tariff.name }}/{{ tariff.price|floatformat:0 }} сом
                    </option>
                    {% endfor %}
                </select>
                <select class="form-select" id="payment-period-select" aria-label="Выберите период оплаты">
                    {% for period in payment_periods %}
                    <option 
                        value="{{ period.id }}" 
                        data-duration="{{ period.duration }}" 
                        data-discount="{{ period.discount|default:0 }}">
                        {{ period.description }} ({{ period.duration }} дней) 
                        {% if period.discount %}скидка {{ period.discount|floatformat:0 }}%{% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mt-4 d-flex justify-content-between">
                <p id="total-without-discount-wrapper" class="text-muted text-decoration-line-through d-none">
                    Без скидки: <span id="total-without-discount"></span>
                </p>
                <h4 class="text-primary fw-bold">Итого: <span id="final-total">-</span></h4>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <form method="post" id="auto-pay-form">
                    {% csrf_token %}
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="auto-pay-checkbox" {{ shop.auto_pay|yesno:"checked," }}>
                    <label class="form-check-label" for="auto-pay-checkbox">Автоматическая оплата</label>
                </div>
                </form>
            
                <!-- Кнопка оплаты -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="pay-button">
                    Оплатить
                </button>
            </div>
            <div class="">
                <small>Автоматическая оплата за месяц при достаточном балансе</small>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'process_payment' shop.id %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение оплаты</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                
                    <div class="modal-body">
                        <!-- Скрытые поля для отправки данных -->
                        <input type="hidden" id="tariff-id" name="tariff" value="{{ tariffs.0.id }}">
                        <input type="hidden" id="payment-period-id" name="payment_period" value="{{ payment_periods.0.id }}">
                        <h4 class="text-warning fw-bold">Это действие нельзя отменить</h4>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" id="confirm-button">Подтвердить оплату</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

        <!-- Карточка 2: история платежей -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">История платежей</h5>
                    <div class="table-responsive" style="max-height: 200px; overflow-y: auto;">
                        <table class="table table-striped table-bordered table-sm">
                            <thead class="table-light">
                                <tr>
                                    <th>Дата</th>
                                    <th>Сумма</th>
                                    <th>Тариф</th>
                                    <th>Период</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if payment_history %}
                                    {% for payment in payment_history %}
                                    <tr>
                                        <td>{{ payment.payment_date }}</td>
                                        <td>{{ payment.amount }} сом</td>
                                        <td>{{ payment.tariff.name }}</td>
                                        <td>{{ payment.period }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center text-muted">Нет данных</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tariffSelect = document.getElementById('tariff-select');
        const periodSelect = document.getElementById('payment-period-select');
        const tariffIdInput = document.getElementById('tariff-id');
        const periodIdInput = document.getElementById('payment-period-id');
        
        // Получение текущего тарифа и периода из данных, переданных сервером
        const currentTariff = '{{ shop.tariff.id }}'; // Или используйте current_tariff
        const defaultPeriod = '{{ shop.payment_period.id|default:1 }}'; // Замените на реальное значение периода, если есть

        // Устанавливаем текущий тариф и период при загрузке страницы
        if (tariffSelect && currentTariff) {
            tariffSelect.value = currentTariff;
            tariffIdInput.value = currentTariff;
        }

        if (periodSelect && defaultPeriod) {
            periodSelect.value = defaultPeriod;
            periodIdInput.value = defaultPeriod;
        }

        // Обновляем скрытые поля при изменении выбора тарифа
        tariffSelect.addEventListener('change', function () {
            tariffIdInput.value = tariffSelect.value;
        });

        // Обновляем скрытые поля при изменении выбора периода
        periodSelect.addEventListener('change', function () {
            periodIdInput.value = periodSelect.value;
        });
    });
</script>
<script>
    // Обновляем скрытое поле для тарифа при изменении выбранного значения в первом селекте
    document.getElementById('tariff-select').addEventListener('change', function() {
        var selectedTariff = this.options[this.selectedIndex];
        document.getElementById('tariff-id').value = selectedTariff.value; // обновляем значение скрытого поля
    });

    // Обновляем скрытое поле для периода оплаты при изменении выбранного значения во втором селекте
    document.getElementById('payment-period-select').addEventListener('change', function() {
        var selectedPeriod = this.options[this.selectedIndex];
        document.getElementById('payment-period-id').value = selectedPeriod.value; // обновляем значение скрытого поля
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const allTariffs = document.querySelectorAll('.tariff-card');
        const finalTotalElement = document.getElementById('final-total');
        const defaultTariffPrice = parseFloat("{{ current_tariff.price|default:0 }}"); // Цена текущего тарифа
        const paymentPeriodSelect = document.getElementById('payment-period-select');
        const tariffSelect = document.getElementById('tariff-select'); // Выпадающий список тарифов
        const payButton = document.getElementById('pay-button'); // Кнопка оплаты
        let selectedTariffPrice = defaultTariffPrice;

        function calculateTotal(price, duration, discount = 0) {
            const total = price * (duration / 30); // Расчет для периода
            const discountedTotal = total * (1 - discount / 100);
            return [total, discountedTotal];
        }

        function updateFinalTotal() {
            const selectedPeriod = paymentPeriodSelect.options[paymentPeriodSelect.selectedIndex];
            const duration = parseInt(selectedPeriod.getAttribute('data-duration'), 10);
            const discount = parseFloat(selectedPeriod.getAttribute('data-discount')) || 0;

            const [total, discountedTotal] = calculateTotal(selectedTariffPrice, duration, discount);

            finalTotalElement.textContent = discountedTotal.toFixed(2) + ' сом';
            const totalWithoutDiscountWrapper = document.getElementById('total-without-discount-wrapper');
            const totalWithoutDiscountElement = document.getElementById('total-without-discount');

            if (discount > 0) {
                totalWithoutDiscountWrapper.classList.remove('d-none');
                totalWithoutDiscountElement.textContent = total.toFixed(2) + ' сом';
            } else {
                totalWithoutDiscountWrapper.classList.add('d-none');
            }

            // Меняем текст на кнопке в зависимости от выбранного тарифа
            if (tariffSelect.value !== "{{ current_tariff.id }}") {
                payButton.textContent = 'Изменить тариф и оплатить';
            } else {
                payButton.textContent = 'Оплатить';
            }
        }

        // Обработчик изменения тарифа
        tariffSelect.addEventListener('change', () => {
            const selectedTariffOption = tariffSelect.options[tariffSelect.selectedIndex];
            selectedTariffPrice = parseFloat(selectedTariffOption.getAttribute('data-tariff-price')) || defaultTariffPrice;
            updateFinalTotal();
        });

        // Обработчик изменения периода оплаты
        paymentPeriodSelect.addEventListener('change', updateFinalTotal);

        // Устанавливаем начальное состояние
        updateFinalTotal();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const autoPayCheckbox = document.getElementById('auto-pay-checkbox');

    autoPayCheckbox.addEventListener('change', function() {
        fetch("{% url 'update_auto_pay' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                auto_pay: autoPayCheckbox.checked
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Ответ сервера:', data);  // Логируем ответ от сервера
            if (data.success) {
                console.log('Автоматическая оплата обновлена');
            } else {
                console.log('Ошибка обновления:', data.error);  // Логируем ошибку, если есть
            }
        })
        .catch(error => console.error('Ошибка:', error));
    });
});
</script>
</body>
</html>