{% extends 'base.html' %}
{% load tags %}
{% block content %}
<div class="row gy-4">
    <div class="col-12 col-md-4">
        <div class="card shadow-sm border-light rounded d-flex flex-column" style="height: 100%;">
            <div class="card-body text-center flex-grow-1">
                <label for="image" class="form-label mb-3">
                    {% if shop.image %}
                        <img src="{{ shop.image.url }}" alt="Изображение магазина" class="img-fluid rounded mb-3">
                    {% else %}
                        <img src="https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ=" alt="Изображение магазина" class="img-fluid rounded mb-3">
                    {% endif %}
                </label>
                    <div id="shop-map"  class="rounded-2">
                        {{ map_html|safe }}
                    </div>
            </div>
        </div>
    </div>
    

    <div class="col-12 col-md-8">
        <div class="card shadow-sm border-light rounded d-flex flex-column" style="height: 100%;">
            <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Данные магазина</h5>
                {% if request.user|has_permission:"can_manage_shop" %}
                <button id="editButton" class="btn btn-primary mb-4">Изменить</button>
                {% else %}
                <button  href="javascript:void(0);" class="btn btn-primary mb-4" onclick="showNoAccessMessage()">Изменить</button>
                {% endif %}
            </div>
            <div class="card-body mt-4 flex-grow-1" id="shopDetails">
                <div class="row gy-3">
                    <!-- Название магазина -->
                    <div class="col-12 col-md-6">
                        <label for="name" class="form-label fw-bold text-muted">Название магазина</label>
                        <div class="p-2 bg-light rounded-3">{{ shop.name }}</div>
                    </div>
            
                    <!-- Адрес -->
                    <div class="col-12 col-md-6">
                        <label for="address" class="form-label fw-bold text-muted">Адрес</label>
                        <div class="p-2 bg-light rounded-3">{{ shop.address }}</div>
                    </div>
            
                    <!-- Координаты -->
                    <div class="col-12 col-md-6">
                        <label for="coordinates" class="form-label fw-bold text-muted">Координаты</label>
                        <div class="p-2 bg-light rounded-3">{{ shop.coordinates }}</div>
                    </div>
            
                    <!-- Контакты -->
                    <div class="col-12 col-md-6">
                        <label for="contacts" class="form-label fw-bold text-muted">Контакты</label>
                        <div class="p-2 bg-light rounded-3">{{ shop.contacts }}</div>
                    </div>
            
                    <!-- О нас -->
                    <div class="col-12 col-md-6">
                        <label for="about" class="form-label fw-bold text-muted">О нас</label>
                        <div class="p-2 bg-light rounded-3">{{ shop.about }}</div>
                    </div>
            
                    <!-- Часы работы -->
                    <div class="col-12 col-md-6">
                        <label for="opening_hours" class="form-label fw-bold text-muted">Часы работы</label>
                        <div class="p-2 bg-light rounded-3">{{ shop.opening_hours }}</div>
                    </div>

                    <!-- Уведомления -->
                    <div class="col-12 col-md-6 form-check form-switch">
                        <label class="form-label  fw-bold text-muted">Email уведомления</label>
                        <div>
                            {% if shop.email_notifications %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Включено</label>
                              </div>
                              {% else %}
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Выключено</label>
                              </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 form-check form-switch">
                        <label class="form-label  fw-bold text-muted">Системные уведомления</label>
                        <div>
                            {% if shop.system_notifications %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Включено</label>
                              </div>
                              {% else %}
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Выключено</label>
                              </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div> 
            <!-- Форма для редактирования -->
            <div class="card-body  flex-grow-1" id="shopForm" style="display: none;">
                <form method="post" class="row gy-4" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row gy-3">
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Название магазина</label>
                            {{ form.name }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="address" class="form-label">Адрес</label>
                            {{ form.address }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="coordinates" class="form-label">Координаты</label>
                            {{ form.coordinates }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="contacts" class="form-label">Контакты</label>
                            {{ form.contacts }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="about" class="form-label">О нас</label>
                            {{ form.about }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="opening_hours" class="form-label">Часы работы</label>
                            {{ form.opening_hours }}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="image" class="form-label">Изображение магазина</label>
                            <input type="file" name="image" id="image" class="form-control" />
                        </div>
                        <!-- Уведомления -->
                    <div class="col-12 col-md-6">
                        <label class="form-label  fw-bold text-muted">Email уведомления</label>
                        <div class="form-check form-switch text-center">
                            {{ form.email_notifications }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label  fw-bold text-muted">Системные уведомления</label>
                        <div class="form-check form-switch text-center">
                            {{ form.system_notifications }}
                        </div>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('editButton').addEventListener('click', function() {
        var shopDetails = document.getElementById('shopDetails');
        var shopForm = document.getElementById('shopForm');
        var editButton = document.getElementById('editButton');
        var saveButton = document.getElementById('saveButton');

        // Переключаем видимость
        if (shopForm.style.display === 'none') {
            shopForm.style.display = 'block';
            shopDetails.style.display = 'none';
            editButton.textContent = 'Отменить';
            saveButton.style.display = 'inline-block';
        } else {
            shopForm.style.display = 'none';
            shopDetails.style.display = 'block';
            editButton.textContent = 'Изменить';
            saveButton.style.display = 'none';
        }
    });
</script>

{% endblock %}
