{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="page-title">Панель управления</h4>
    <div class="">
      <form class="d-flex">
        <div class="input-group">
          <input type="month" class="form-control form-control-light" id="dash-daterange">
          <button class="input-group-text bg-primary border-primary text-white" type="submit">
            <i class='bx bx-check'></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row g-6 mb-6">
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <span class="text-heading">Session</span>
              <div class="d-flex align-items-center my-1">
                <h4 class="mb-0 me-2">21,459</h4>
                <p class="text-success mb-0">(+29%)</p>
              </div>
              <small class="mb-0">Total Users</small>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-primary">
                <i class="bx bx-user bx-26px"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <span class="text-heading">Paid Users</span>
              <div class="d-flex align-items-center my-1">
                <h4 class="mb-0 me-2">4,567</h4>
                <p class="text-success mb-0">(+18%)</p>
              </div>
              <small class="mb-0">Last week analytics </small>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-danger">
                <i class="bx bx-user-plus bx-26px"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <span class="text-heading">Active Users</span>
              <div class="d-flex align-items-center my-1">
                <h4 class="mb-0 me-2">19,860</h4>
                <p class="text-danger mb-0">(-14%)</p>
              </div>
              <small class="mb-0">Last week analytics</small>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-success">
                <i class="bx bx-user-check bx-26px"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <span class="text-heading">Pending Users</span>
              <div class="d-flex align-items-center my-1">
                <h4 class="mb-0 me-2">237</h4>
                <p class="text-success mb-0">(+42%)</p>
              </div>
              <small class="mb-0">Last week analytics</small>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-warning">
                <i class="bx bx-search bx-26px"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card h-100">
        <h5 class="card-header">График продаж</h5>
        <div class="card-body">
          <div id="chart1" class="apex-charts"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gy-3">
    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Топ продаваемых товаров за этот месяц</h5>
        <div class="card-body pt-0">
          <div class="table-responsive">
            <table class="table table-centered table-nowrap table-hover mb-0">
              <tbody>
                {% for product in sold_products %}
                <tr>
                  <td>
                    <h5 class="font-14 my-1 fw-normal">{{ product.name }}</h5>
                    <span class="text-muted font-13">Дата последней продажи:
                      {{ product.soldhistory_set.last.created|date:"d M Y" }}</span>
                  </td>
                  <td>
                    <h5 class="font-14 my-1 fw-normal">{{ product.sale_price }}c</h5>
                    <span class="text-muted font-13">Цена</span>
                  </td>
                  <td>
                    <h5 class="font-14 my-1 fw-normal">{{ product.total_quantity }}шт</h5>
                    <span class="text-muted font-13">Количество</span>
                  </td>
                  <td>
                    <h5 class="font-14 my-1 fw-normal">{{ product.total_sum }}c</h5>
                    <span class="text-muted font-13">Сумма</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Топ поставок товаров за этот месяц</h5>
        <div class="card-body pt-0">
          <div class="table-responsive">
            <table class="table table-centered table-nowrap table-hover mb-0">
              <tbody>
                {% for product in sold_products %}
                <tr>
                  <td>
                    <h5 class="font-14 my-1 fw-normal">{{ product.name }}</h5>
                    <span class="text-muted font-13">Дата последней продажи:
                      {{ product.soldhistory_set.last.created|date:"d M Y" }}</span>
                  </td>
                  <td>
                    <h5 class="font-14 my-1 fw-normal">{{ product.sale_price }}c</h5>
                    <span class="text-muted font-13">Цена</span>
                  </td>
                  <td>
                    <h5 class="font-14 my-1 fw-normal">{{ product.total_quantity }}шт</h5>
                    <span class="text-muted font-13">Количество</span>
                  </td>
                  <td>
                    <h5 class="font-14 my-1 fw-normal">{{ product.total_sum }}c</h5>
                    <span class="text-muted font-13">Сумма</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: "{% url 'get-chart-data' %}",
      success: function (data) {
        var options = {
          chart: {
            height: 280,
            type: "area"
          },
          dataLabels: {
            enabled: false
          },
          series: [
            {
              name: "Прибыль",
              data: data.profit
            }
          ],
          fill: {
            type: "gradient",
            gradient: {
              shadeIntensity: 1,
              opacityFrom: 0.7,
              opacityTo: 0.9,
              stops: [0, 90, 100]
            }
          },
          xaxis: {
            categories: data.months,
          }
        };

        var chart1 = new ApexCharts(document.querySelector("#chart1"), options);
        chart1.render();
      }
    });
  });
</script>
{% endblock content %}