{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">Настройки</h5>
                <form method="POST" enctype="multipart/form-data" class="card-body">
                    {% csrf_token %}
                    
                    <!-- Поле загрузки изображения -->
                    <div class="mb-3">
                        <label for="{{ form.image.id_for_label }}" class="form-label d-block text-center">
                            <img src="{{ request.user.shop.image.url }}" alt="Изображение магазина" class="img-fluid mb-3 rounded">
                        </label>
                        <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" 
                               class="form-control {% if form.image.errors %}is-invalid{% endif %}" 
                               value="{{ form.image.value|default_if_none:'' }}" style="display: none;">
                        {% if form.image.errors %}
                            <div class="invalid-feedback">{{ form.image.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- Поле названия -->
                    <div class="mb-3">
                        <label for="{{ form.name.id_for_label }}" class="form-label">
                            {{ form.name.label }}<span class="text-danger">*</span>
                        </label>
                        <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" 
                               class="form-control {% if form.name.errors %}is-invalid{% endif %}" 
                               value="{{ form.name.value|default_if_none:'' }}">
                        {% if form.name.errors %}
                            <div class="invalid-feedback">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- Поле адреса -->
                    <div class="mb-3">
                        <label for="{{ form.address.id_for_label }}" class="form-label">
                            {{ form.address.label }}
                        </label>
                        {{ form.address }}
                        {% if form.address.errors %}
                            <div class="invalid-feedback">{{ form.address.errors }}</div>
                        {% endif %}
                    </div>
                    <div id="editor" class="mb-3 ql-toolbar ql-snow ">
                    </div>
                    <!-- Кнопка отправки -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary product-create-btn">Сохранить</button>
                    </div>
                </form>
            </div>
            <form class="col-md-4" method="post" action="{% url 'update_product_per_page' %}">
                {% csrf_token %}
                <label for="items_per_page">Количество товаров на странице:</label>
                <input class="form-control w-50" type="number" name="items_per_page" id="items_per_page" value="{{ request.session.items_per_page|default:10 }}">
                <button class="btn btn-primary mt-1" type="submit">Сохранить</button>
            </form>
            <form class="col-md-4" method="post" action="{% url 'update_category_per_page' %}">
                {% csrf_token %}
                <label for="category_per_page">Количество категорий на странице:</label>
                <input class="form-control w-50" type="number" name="category_per_page" id="category_per_page" value="{{ request.session.category_per_page|default:10 }}">
                <button class="btn btn-primary mt-1" type="submit">Сохранить</button>
            </form>
            <form class="col-md-4" method="post" action="{% url 'update_finance_per_page' %}">
                {% csrf_token %}
                <label for="finance_per_page">Количество расходов на странице:</label>
                <input class="form-control w-50" type="number" name="finance_per_page" id="finance_per_page" value="{{ request.session.finance_per_page|default:10 }}">
                <button class="btn btn-primary mt-1" type="submit">Сохранить</button>
            </form>
            <form class="col-md-4" method="post" action="{% url 'update_orders_per_page' %}">
                {% csrf_token %}
                <label for="orders_per_page">Количество заказов на странице:</label>
                <input class="form-control w-50" type="number" name="orders_per_page" id="orders_per_page" value="{{ request.session.orders_per_page|default:10 }}">
                <button class="btn btn-primary mt-1" type="submit">Сохранить</button>
            </form>
            <form class="col-md-4" method="post" action="{% url 'update_sales_per_page' %}">
                {% csrf_token %}
                <label for="sales_per_page">Количество продаж на странице:</label>
                <input class="form-control w-50" type="number" name="sales_per_page" id="sales_per_page" value="{{ request.session.sales_per_page|default:10 }}">
                <button class="btn btn-primary mt-1" type="submit">Сохранить</button>
            </form>
            <form class="col-md-4" method="post" action="{% url 'update_incomes_per_page' %}">
                {% csrf_token %}
                <label for="incomes_per_page">Количество заказов на странице:</label>
                <input class="form-control w-50" type="number" name="incomes_per_page" id="incomes_per_page" value="{{ request.session.incomes_per_page|default:10 }}">
                <button class="btn btn-primary mt-1" type="submit">Сохранить</button>
            </form>
            <form class="col-md-4" method="post" action="{% url 'update_shop_per_page' %}">
                {% csrf_token %}
                <label for="shop_per_page">Количество товаров в магазине:</label>
                <input class="form-control w-50" type="number" name="shop_per_page" id="shop_per_page" value="{{ request.session.shop_per_page|default:10 }}">
                <button class="btn btn-primary mt-1" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script>
    const quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          ['bold', 'italic', 'underline', 'strike'],
          ['link', 'blockquote'],
          [{ 'list': 'ordered' }, { 'list': 'bullet' }],
          [{ 'script': 'sub' }, { 'script': 'super' }],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'align': [] }],
          ['clean'],
          ['image']
        ],
      },
    });
  </script>
{% endblock %}
