{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">Настройки</h5>
                <form method="POST" enctype="multipart/form-data" class="card-body">
                    {% csrf_token %}
                    
                    <!-- Поле загрузки изображения -->
                    <div class="mb-3">
                        <label for="{{ form.image.id_for_label }}" class="form-label d-block text-center">
                            <img src="{{ request.user.shop.image.url }}" alt="Изображение магазина" class="img-fluid mb-3 rounded">
                        </label>
                        <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" 
                               class="form-control {% if form.image.errors %}is-invalid{% endif %}" 
                               value="{{ form.image.value|default_if_none:'' }}" style="display: none;">
                        {% if form.image.errors %}
                            <div class="invalid-feedback">{{ form.image.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- Поле названия -->
                    <div class="mb-3">
                        <label for="{{ form.name.id_for_label }}" class="form-label">
                            {{ form.name.label }}<span class="text-danger">*</span>
                        </label>
                        <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" 
                               class="form-control {% if form.name.errors %}is-invalid{% endif %}" 
                               value="{{ form.name.value|default_if_none:'' }}">
                        {% if form.name.errors %}
                            <div class="invalid-feedback">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>

                    <!-- Поле адреса -->
                    <div class="mb-3">
                        <label for="{{ form.address.id_for_label }}" class="form-label">
                            {{ form.address.label }}
                        </label>
                        {{ form.address }}
                        {% if form.address.errors %}
                            <div class="invalid-feedback">{{ form.address.errors }}</div>
                        {% endif %}
                    </div>
                    <div id="editor" class="mb-3 ql-toolbar ql-snow ">
                    </div>
                    <!-- Кнопка отправки -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary product-create-btn">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script>
    const quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          ['bold', 'italic', 'underline', 'strike'],
          ['link', 'blockquote'],
          [{ 'list': 'ordered' }, { 'list': 'bullet' }],
          [{ 'script': 'sub' }, { 'script': 'super' }],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'align': [] }],
          ['clean'],
          ['image']
        ],
      },
    });
  </script>
{% endblock %}
