{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">

<div class="col-12">
    <div class="card">
        <div class="card-body">
          <div class="card-header py-0 d-flex flex-column flex-md-row align-items-center">
            <div>
              <div id="DataTables_Table_0_filter" class="dataTables_filter ms-n3 mb-0 mb-md-6"><label><input type="search"
                    class="form-control" placeholder="Поиск поставок" aria-controls="DataTables_Table_0"></label></div>
            </div>
          </div>
            <div class="table-responsive">
                <table class="table table-centered w-100" id="products-datatable">
                  <thead>
                    <tr>
                      <th>Товар</th>
                      <th>Штрих код</th>
                      <th>Кол-во</th>
                      <th>Цена</th>
                      <th>Общая цена</th>
                      <th>Дата</th>
                      <th>Действия</th>
                    </tr>
                  </thead>
                  <tbody id="product-table-body">
                    {% for income in incomes %}
                      <tr>
                        <td>{{ income.product.name }}</td>
                        <td>{{ income.product.bar_code }}</td>
                        <td>{{ income.quantity }}</td>
                        <td>{{ income.price_at_income }}</td>
                        <td>{{ income.total_sum }}</td>
                        <td>{{ income.created }}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                          data-bs-target="#deleteModal"><i class="mdi mdi-cart me-1"></i>Удалить</button>
                      <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog"
                          aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">

                                  <div class="modal-body">

                                      <form class="ps-3 pe-3" method="POST">
                                          {% csrf_token %}
                                          <p>Вы действительно хотите удалить поставку?</p>
                                          <div class="mb-3 text-center">
                                              <a class="btn btn-danger btn-sm"
                                                  href="{% url 'income-history-delete' income.id %}">
                                                  Удалить
                                              </a>
                                          </div>

                                      </form>

                                  </div>
                              </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->
                        </td>

                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>


</div>
{% endblock %}