{% extends 'base.html' %}
{% load tags %}
{% block content %}
<div class="modal fade " id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <form class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Фильтр</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ filters.form.as_p }}
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Показать</button>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between mt-3 mb-4 flex-wrap">
    <div class="d-flex align-items-center gap-3">
        <h2 class="mb-0 fw-bold text-dark">Поставки</h2>
    </div>
    <div class="d-flex align-items-center gap-3">
        <button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#filterModal">
            Фильтр
        </button>
    </div>
  </div>
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered w-100" id="products-datatable">
                        <thead class="table-light">
                            <tr>
                                <th>Товар</th>
                                <th>Штрих код</th>
                                <th>Кол-во</th>
                                <th>Цена</th>
                                <th>Общая цена</th>
                                <th>Дата</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody id="product-table-body">
                            {% for income in page_obj %}
                            <tr>
                                <td>{{ income.product.name }}</td>
                                <td>{{ income.product.bar_code }}</td>
                                <td>{{ income.quantity }}</td>
                                <td>{{ income.amount}}</td>
                                <td>{{ income.total_sum }}</td>
                                <td>{{ income.created|date:"d.m.Y H:i" }}</td>
                                <td>
                                    <button type="button" class="btn" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal{{ income.id }}">
                                        <i class="bx bx-trash fs-5"></i>
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div id="deleteModal{{ income.id }}" class="modal fade" tabindex="-1" role="dialog"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <p>Вы действительно хотите удалить поставку "{{ income.product.name }}"?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Закрыть</button>
                                                        <a class="btn btn-danger"
                                                        href="{% url 'income-history-delete' income.id %}">Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-center me-3 mt-5 flex-wrap">
                    <div class="pagination-container">
                        <nav aria-label="Пагинация">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.number > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Первая">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;&laquo;</span>
                                </li>
                                {% endif %}
                  
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Назад">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;</span>
                                </li>
                                {% endif %}
                  
                                {% for page_num in visible_pages %}
                                {% if page_num  ==  page_obj.number %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ page_num }}</span>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                  
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Вперёд">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;</span>
                                </li>
                                {% endif %}
                  
                                {% if page_obj.number < page_obj.paginator.num_pages %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;&raquo;</span>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
