{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">

<div class="col-12">
    <div class="card">
        <div class="card-body">
            
          <div class="row mb-2">
            <div class="col-sm-5">
              <h4 class="card-title">История поставок</h4>
            </div>
            <div class="col-sm-7">
              <form method="get">
                <div class="row">
                  <div class="col-md-3">
                      <label for="date_from" class="form-label">Дата с</label>
                      <input type="date" id="date_from" name="date_from" class="form-control" value="{{ date_from }}">
                  </div>
                  <div class="col-md-3">
                      <label for="date_to" class="form-label">Дата по</label>
                      <input type="date" id="date_to" name="date_to" class="form-control" value="{{ date_to }}">
                  </div>
                  <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
              </div>
                </div>
            </form>
            </div>
          </div>

            <div class="table-responsive">
                <table class="table table-centered w-100" id="products-datatable">
                  <thead class="table-light">
                    <tr>
                      <th>Ордер</th>
                      <th>Товар</th>
                      <th>Штрих код</th>
                      <th>Кол-во</th>
                      <th>Цена</th>
                      <th>Общая цена</th>
                      <th>Дата</th>
                      <th>Действия</th>
                    </tr>
                  </thead>
                  <tbody id="product-table-body">
                    {% for sale in sales %}
                      <tr>
                        <td>#{{ sale.order.id }}</td>
                        <td>{{ sale.product.name }}</td>
                        <td>{{ sale.product.bar_code }}</td>
                        <td>{{ sale.quantity }}</td>
                        <td>{{ sale.price_at_moment }}</td>
                        <td>{{ sale.total_sum }}</td>
                        <td>{{ sale.created }}</td>
                        <td>
                        
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                          data-bs-target="#deleteModal"><i class="mdi mdi-cart me-1"></i>Удалить</button>
                      <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog"
                          aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">

                                  <div class="modal-body">

                                      <form class="ps-3 pe-3" method="POST">
                                          {% csrf_token %}
                                          <p>Вы действительно хотите удалить поставку?</p>


                                          <div class="mb-3 text-center">
                                              <a class="btn btn-danger"
                                                  href="{% url 'sold-history-delete' sale.id %}">Удалить</a>
                                          </div>

                                      </form>

                                  </div>
                              </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>


</div>
{% endblock %}