{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form class="card" enctype="multipart/form-data" method="POST">


        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4 mb-3">
                <label for="upload" class="me-3" tabindex="0">
                {% if user.image and user.image.url %}
                <img src="{{ user.image.url }}" alt="аватар пользователя" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar"
                style="object-fit: cover; object-position: center;">
                {% else %}
                <img src="https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="аватар пользователя" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar"
                style="object-fit: cover; object-position: center;">
                {% endif %}
                <small class="text-muted mt-2">Нажмите для выбора фото</small>
            </label>
            {{ form.image }}
            </div>
                {% csrf_token %}
                <div class="row">
                    <div class="mb-4 col-sm-12 col-md-6">
                        <label for="firstName" class="form-label">Имя</label>
                        {{ form.first_name }}
                    </div>
                    <div class="mb-4 col-sm-12 col-md-6">
                        <label for="lastName" class="form-label">Фамилия</label>
                        {{ form.last_name }}
                    </div>
                    <div class="mb-4 col-sm-12 col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-4 col-sm-12 col-md-6">
                        <label for="phone" class="form-label">Имя пользователя</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-4 col-sm-12 col-md-6">
                        <label for="phone" class="form-label">Номер телефона</label>
                        {{ form.phone }}
                    </div>

                    <div class="mt-2 d-flex g-2">
                        <button type="submit" class="btn btn-primary me-3">Сохранить изменения</button>
                        <button type="reset" class="btn btn-label-secondary">Отмена</button>
                    </div>
                </div>
        </div>
    </form>
    
    
{% endblock %}
