{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row fv-plugins-icon-container">
    <div class="col-md-12">
        <form class="card mb-4" method="POST" enctype="multipart/form-data">
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-3 pb-4 border-bottom">
                    <!-- Аватар пользователя -->
                    <img src="{{ user.image.url }}" alt="user-avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar">
                    <div class="button-wrapper">
                        <!-- Кнопка загрузки нового фото -->
                        <label for="upload" class="btn btn-primary me-3 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Загрузить</span>
                            <i class="icon-base bx bx-download d-block d-sm-none"></i>
                            {{ form.image }}
                        </label>
                        <div>Разрешенные форматы: png, jpg, jpeg</div>
                    </div>
                </div>
            </div>
            <!-- Форма редактирования профиля -->
            <div class="card-body pt-4">
                {% if user.id == request.user.id %}
                <div id="formAccountSettings" method="POST" enctype="multipart/form-data" class="fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row gy-4">
                        <!-- Имя -->
                        <div class="col-md-6 form-control-validation fv-plugins-icon-container">
                            <label for="firstName" class="form-label">Имя</label>
                            {{ form.first_name }}
                        </div>
                        <!-- Фамилия -->
                        <div class="col-md-6 form-control-validation fv-plugins-icon-container">
                            <label for="lastName" class="form-label">Фамилие</label>
                            {{ form.last_name }}
                        </div>
                        <!-- Электронная почта -->
                        <div class="col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            {{ form.email }}
                        </div>
                        <!-- Телефон -->
                        <div class="col-md-6">
                            <label class="form-label" for="phoneNumber">Контактный номер</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">KG (+996)</span>
                                {{ form.phone }}
                            </div>
                        </div>
                    </div>
                    <!-- Кнопки сохранения и отмены -->
                    <div class="mt-5">
                        <button type="submit" class="btn btn-primary me-3">Сохранить</button>
                        <a href="{% url 'password_change' %}" class="mt-2">
                            <span>Изменение пароля</span>
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="row g-5">
                    <div class="col-md-5">
                        <p><strong>First Name:</strong> {{ user.first_name }}</p>
                        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                        <p><strong>E-mail:</strong> {{ user.email }}</p>
                        <p><strong>Phone:</strong> {{ user.phone }}</p>
                        <p><strong>Shop:</strong> {{ user.shop.name }}</p>
                        <p><strong>Role:</strong> {{ user.role }}</p>
                        <p><strong>Email Notifications:</strong> {% if user.get_email_notification %}Enabled{% else %}Disabled{% endif %}</p>
                    </div>
                </div>
                {% endif %}
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}