{% load static %}
<html lang="ru" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
  data-theme="theme-default" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>DEER - Регистрация</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

  <link rel="shortcut icon" href="{% static 'assets/img/logo/logo.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'assets/vendor/libs/node-waves/node-waves.css'  %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css'  %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css'  %}" class="template-customizer-core-css" />
  <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css'  %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css'  %}" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="{% static 'assets/css/demo.css'  %}" />

  <script src="{% static 'assets/vendor/js/helpers.js'  %}"></script>
  <script src="{% static 'assets/vendor/js/template-customizer.js'  %}"></script>
  <script src="{% static 'assets/js/config.js'  %}"></script>
</head>
<body class="authentication-bg position-relative" cz-shortcut-listen="true">

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <!-- Регистрация -->
        <div class="card px-sm-3 px-0">
          <div class="card-body">
            <div class="app-brand justify-content-center">
              <a href="#" class="app-brand-link gap-2">
                <span class="demo text-heading fw-bold fs-2">DEER SAP</span>
              </a>
            </div>
            <h4 class="mb-1">Добро пожаловать в DEER SAP</h4>
            <p class="mb-3">Пожалуйста, создайте свой аккаунт</p>

            <!-- Многоступенчатая форма регистрации -->
            <form id="formAuthentication" method="POST" novalidate="novalidate">
              {% csrf_token %}

              <!-- Шаг 1: Регистрация пользователя -->
                <div id="step-1">
                  <h5>Создайте аккаунт</h5>
                  <div class="mb-3">
                    <label for="username" class="form-label">Логин</label>
                    {{ user_form.username }}
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Электронная почта</label>
                    {{ user_form.email }}
                  </div>

                  <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="password1">Пароль</label>
                    {{ user_form.password1 }}
                  </div>

                  <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="password2">Подтвердите пароль</label>
                    {{ user_form.password2 }}
                  </div>
                </div>

                <!-- Шаг 2: Магазин -->
                <div id="step-2" style="display: none;">
                  <h5>Создайте магазин</h5>
                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="name" class="form-label">Название магазина</label>
                      {{ shop_form.name }}
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="address" class="form-label">Адрес</label>
                      {{ shop_form.address }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="coordinates" class="form-label">Координаты</label>
                      {{ shop_form.coordinates }}
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="contacts" class="form-label">Контакты</label>
                      {{ shop_form.contacts }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="about" class="form-label">О нас</label>
                      {{ shop_form.about }}
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="opening_hours" class="form-label">Часы работы</label>
                      {{ shop_form.opening_hours }}
                    </div>
                  </div>
                </div>

              <!-- Шаг 3: Выбор тарифа -->
              <div id="step-3" style="display: none;">
                <h5>Выберите тариф</h5>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="d-flex overflow-auto" style="flex-wrap: nowrap; max-width: 100%; padding-bottom: 10px;">
                      {% for tariff, features in tariff_features_dict.items %}
                        <div class="card p-3 border-1 rounded-3 me-3" style="min-width: 250px; flex-shrink: 0;">
                          <div class="d-flex justify-content-between align-items-start w-100">

                            <div class="tarif_block_right text-start">
                              <h6 class="mb-1 text-muted">{{ tariff.name }}</h6>
                            <h2 class="fw-bold">{{ tariff.price|floatformat:0 }} сом<small class="fs-6 text-muted">/ месяц</small></h2>
                            </div>
                          <div class="tarif_block_left">
                            {% if tariff.help_text %}
                            <span class="badge bg-danger" style="font-size: 1rem; font-weight: bold;">{{ tariff.help_text }}</span>
                            {% endif %}
                          </div>
                          </div>
                          <hr style="border: none; border-top: 1px solid #8a8b8b; margin: 5px; padding: 0;">
                          <ul class="list-unstyled">
                            {% for feature in features %}
                              <li class="d-flex align-items-center">
                                {% if feature.status %}
                                  <i class="bx bx-check" style="color:#500ba0; font-size: 1.5rem;"></i>
                                  <span class="fs-8">{{ feature.name }}</span>
                                {% else %}
                                  <i class="bx bx-x" style="color:gray; font-size: 1.5rem;"></i>
                                  <span class="fs-8">{{ feature.name }}</span>
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                          <div class="form-check">
                            <input type="radio" class="form-check-input" name="tariff" value="{{ tariff.id }}" id="tariff-{{ tariff.id }}" required>
                            <label class="form-check-label" for="tariff-{{ tariff.id }}" style="cursor: pointer; font-weight: bold; font-size: 1rem;">
                              Выбрать
                            </label>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Общая ошибка -->
              <div class="row mt-4">
                <div class="col-md-4">
                  {% if errors.user_form %}
                  <h6 class="text-danger">Ошибки в шаге 1</h6>
                  {% for field, field_errors in errors.user_form.items %}
                  {% for error in field_errors %}
                  <p class="text-danger">Поле {{ field }}: {{ error }}</p>
                  {% endfor %}
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="col-md-4">
                  {% if errors.shop_form %}
                  <h6 class="text-danger">Ошибки в шаге 2</h6>
                  {% for field, field_errors in errors.shop_form.items %}
                  {% for error in field_errors %}
                  <p class="text-danger">Поле {{ field }}: {{ error }}</p>
                  {% endfor %}
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="col-md-4">
                  {% if errors.tariff %}
                  <h6 class="text-danger">Ошибки в шаге 3</h6>
                  <p class="text-danger">{{ errors.tariff }}</p>
                  {% endif %}
                </div>
              </div>

              <!-- Кнопки перехода между шагами -->
              <div class="d-flex justify-content-between mt-4">
                <button type="button" id="prev-btn" class="btn btn-secondary" style="display: none;">Назад</button>
                <button type="button" id="next-btn" class="btn btn-primary ms-auto">Далее</button>
              </div>

              <div class="mb-3 mt-4 d-flex justify-content-center">
                <button class="btn btn-primary d-grid w-50" type="submit" id="submit-btn" style="display: none;" disabled>Создать аккаунт (первые 14 дней бесплатно)</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<style>
  .form-check-input:checked {
  background-color: #500ba0;
  border-color: #500ba0;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(80, 11, 160, 0.5);
}

.form-check-label {
  transition: all 0.3s ease;
}

.form-check-label:hover {
  color: #500ba0;
  font-weight: bold;
}
</style>
  <script>
    let currentStep = 1;
    const totalSteps = 3;
    const nextBtn = document.getElementById("next-btn");
    const prevBtn = document.getElementById("prev-btn");
    const submitBtn = document.getElementById("submit-btn");
  
    nextBtn.addEventListener("click", function () {
      if (currentStep < totalSteps) {
        currentStep++;
        updateStep();
      }
    });
  
    prevBtn.addEventListener("click", function () {
      if (currentStep > 1) {
        currentStep--;
        updateStep();
      }
    });
  
    function updateStep() {
      // Скрываем все шаги
      for (let i = 1; i <= totalSteps; i++) {
        document.getElementById(`step-${i}`).style.display = "none";
      }
      // Показываем текущий шаг
      document.getElementById(`step-${currentStep}`).style.display = "block";
  
      // Обновляем кнопки
      if (currentStep === 1) {
        prevBtn.style.display = "none";
        nextBtn.style.display = "inline-block";
        submitBtn.style.display = "none";
      } else if (currentStep === totalSteps) {
        nextBtn.style.display = "none";
        prevBtn.style.display = "inline-block";
        submitBtn.style.display = "inline-block";
      } else {
        nextBtn.style.display = "inline-block";
        prevBtn.style.display = "inline-block";
        submitBtn.style.display = "none";
      }
  
      // Проверяем, все ли поля на текущем шаге заполнены
      toggleSubmitButton();
    }
  
    function toggleSubmitButton() {
      const currentStepFields = document.querySelectorAll(`#step-${currentStep} input`);
      let allFieldsFilled = true;
  
      currentStepFields.forEach(field => {
        if (!field.value) {
          allFieldsFilled = false;
        }
      });
  
      if (allFieldsFilled && currentStep === totalSteps) {
        submitBtn.disabled = false;
      } else {
        submitBtn.disabled = true;
      }
    }
  
    // Добавляем обработчики на изменения в полях формы
    document.querySelectorAll('input').forEach(input => {
      input.addEventListener('input', toggleSubmitButton);
    });
  
    updateStep(); // Инициализируем с первого шага
  </script>

</body>
</html>
